<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/analise_steag.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df2 = pd.read_excel('/content/EXPURGOS SDF_2022-06-29_2022-07-05_PURGE-LIST -.xlsx', sheet_name='Plan1')

In [3]:
df2.head()

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
0,2022-06-30 06:30:00,2022-06-30 06:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),161.072333,1076.684333,0 - COMMUNICATION OK,100.0,111.574667,191.198556,170.091333,0.0,SDF1-1-INV1,30/06/2022,06:30,30/06/2022,06:45,NaN,NaN,NaN,NaN
1,2022-07-01 08:45:00,2022-07-01 09:00:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),402.552333,1016.961333,0 - COMMUNICATION OK,100.0,398.076000,456.823556,406.620667,0.0,SDF1-1-INV1,01/07/2022,08:45,01/07/2022,09:00,NaN,NaN,NaN,NaN
2,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),182.471000,1053.783333,0 - COMMUNICATION OK,100.0,488.709889,215.663889,189.679667,0.0,SDF1-1-INV1,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
3,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),439.951000,992.879000,0 - COMMUNICATION OK,100.0,640.525444,510.717667,431.937667,0.0,SDF1-1-INV1,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN
4,2022-07-01 14:30:00,2022-07-01 14:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),551.413333,1011.206667,0 - COMMUNICATION OK,100.0,565.753889,630.528333,552.882333,0.0,SDF1-1-INV1,01/07/2022,14:30,01/07/2022,14:45,NaN,NaN,NaN,NaN

In [4]:
df2.shape

(2337, 20)

In [5]:
df2.columns

Index([             'date_time_start',                'date_time_end',
       'local_field_its_inv_property',                    'DCCURRENT',
                          'DCVOLTAGE',                    'COMSTATUS',
                       'AVAILABILITY',              'irradiance_mean',
               'its_activepower_mean',                  'ACTIVEPOWER',
                       'is_available',                  'elementName',
                        'initialDate',                  'initialTime',
                          'finalDate',                    'finalTime',
                          'Occurence',              'HPER Exclusions',
                              'Atlas',                       00:15:00],
      dtype='object')

In [6]:
df2['elementName'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
2332     True
2333     True
2334     True
2335     True
2336     True
Name: elementName, Length: 2337, dtype: bool

In [7]:
aux_list_names = df2['elementName'].tolist()
len(aux_list_names)

2337

In [ ]:
list_names = []
for element in aux_list_names:
  if element not in list_names:
    list_names.append(element)
list_names.pop(-1)
list_names

In [9]:
def create_key(word):  
  x = word.split('-')
  return f'{x[0]}_ITS{x[1]}.{x[2]}'

In [14]:
dict_names = {create_key(name): [name] for name in list_names}
dict_names

{'SDF1_ITS1.INV1': ['SDF1-1-INV1'],
 'SDF1_ITS1.INV3': ['SDF1-1-INV3'],
 'SDF1_ITS1.INV4': ['SDF1-1-INV4'],
 'SDF1_ITS2.INV1': ['SDF1-2-INV1'],
 'SDF1_ITS2.INV2': ['SDF1-2-INV2'],
 'SDF1_ITS2.INV3': ['SDF1-2-INV3'],
 'SDF1_ITS2.INV4': ['SDF1-2-INV4'],
 'SDF1_ITS3.INV1': ['SDF1-3-INV1'],
 'SDF1_ITS3.INV2': ['SDF1-3-INV2'],
 'SDF1_ITS3.INV3': ['SDF1-3-INV3'],
 'SDF1_ITS4.INV1': ['SDF1-4-INV1'],
 'SDF1_ITS4.INV2': ['SDF1-4-INV2'],
 'SDF1_ITS4.INV3': ['SDF1-4-INV3'],
 'SDF1_ITS4.INV4': ['SDF1-4-INV4'],
 'SDF1_ITS5.INV1': ['SDF1-5-INV1'],
 'SDF1_ITS5.INV2': ['SDF1-5-INV2'],
 'SDF1_ITS5.INV3': ['SDF1-5-INV3'],
 'SDF1_ITS6.INV1': ['SDF1-6-INV1'],
 'SDF1_ITS6.INV2': ['SDF1-6-INV2'],
 'SDF1_ITS6.INV3': ['SDF1-6-INV3'],
 'SDF1_ITS6.INV4': ['SDF1-6-INV4'],
 'SDF2_ITS1.INV1': ['SDF2-1-INV1'],
 'SDF2_ITS1.INV2': ['SDF2-1-INV2'],
 'SDF2_ITS1.INV3': ['SDF2-1-INV3'],
 'SDF2_ITS2.INV1': ['SDF2-2-INV1'],
 'SDF2_ITS2.INV2': ['SDF2-2-INV2'],
 'SDF2_ITS2.INV3': ['SDF2-2-INV3'],
 'SDF2_ITS2.INV4': ['SDF2-2-INV4'],
 'SDF2_ITS3.INV1': ['SDF2-3-INV1'],
 'SDF2_ITS3.INV2': ['SDF2-3-INV2'],
 'SDF2_ITS3.INV4': ['SDF2-3-INV4'],
 'SDF2_ITS4.INV1': ['SDF2-4-INV1'],
 'SDF2_ITS4.INV3': ['SDF2-4-INV3'],
 'SDF2_ITS5.INV1': ['SDF2-5-INV1'],
 'SDF2_ITS5.INV2': ['SDF2-5-INV2'],
 'SDF2_ITS5.INV3': ['SDF2-5-INV3'],
 'SDF2_ITS5.INV4': ['SDF2-5-INV4'],
 'SDF2_ITS6.INV1': ['SDF2-6-INV1'],
 'SDF2_ITS6.INV2': ['SDF2-6-INV2'],
 'SDF2_ITS6.INV3': ['SDF2-6-INV3'],
 'SDF2_ITS6.INV4': ['SDF2-6-INV4'],
 'SDF3_ITS1.INV2': ['SDF3-1-INV2'],
 'SDF3_ITS1.INV3': ['SDF3-1-INV3'],
 'SDF3_ITS1.INV4': ['SDF3-1-INV4'],
 'SDF3_ITS2.INV1': ['SDF3-2-INV1'],
 'SDF3_ITS2.INV3': ['SDF3-2-INV3'],
 'SDF3_ITS2.INV4': ['SDF3-2-INV4'],
 'SDF3_ITS3.INV1': ['SDF3-3-INV1'],
 'SDF3_ITS3.INV3': ['SDF3-3-INV3'],
 'SDF3_ITS4.INV2': ['SDF3-4-INV2'],
 'SDF3_ITS4.INV3': ['SDF3-4-INV3'],
 'SDF3_ITS4.INV4': ['SDF3-4-INV4'],
 'SDF3_ITS5.INV1': ['SDF3-5-INV1'],
 'SDF3_ITS5.INV2': ['SDF3-5-INV2'],
 'SDF3_ITS5.INV4': ['SDF3-5-INV4'],
 'SDF3_ITS6.INV1': ['SDF3-6-INV1'],
 'SDF3_ITS6.INV3': ['SDF3-6-INV3'],
 'SDF3_ITS6.INV4': ['SDF3-6-INV4']}

In [11]:
dict_names['SDF1_ITS1.INV4']

['SDF1-1-INV4']

In [21]:
df_element_test = df2[df2['elementName'] == 'SDF3-6-INV4']
df_element_test

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
1087,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF3-6-INV4 - ACTIVE POWER (kW),530.358000,1007.926667,0 - COMMUNICATION OK,100.0,488.709889,640.878111,525.846000,0.0,SDF3-6-INV4,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
1088,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF3-6-INV4 - ACTIVE POWER (kW),500.954333,979.708000,0 - COMMUNICATION OK,100.0,640.525444,572.054000,482.393667,0.0,SDF3-6-INV4,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN

In [22]:
for data in dict_names.items():  
  df_element = df2[df2['elementName'] == data[1][0]]
  dict_names[data[0]].append(df_element['ACTIVEPOWER'].mean())

In [ ]:
dict_names