<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/Analise_salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [3]:
dataset = pd.read_csv('sample_data/salaries_by_college_major.csv', sep=',')
dataset.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [7]:
dataset['Starting Median Salary'].max()

74300.0

In [8]:
dataset['Starting Median Salary'].idxmax()

43

In [11]:
dataset['Undergraduate Major'].loc[43]

'Physician Assistant'

In [14]:
dataset['Mid-Career Median Salary'].max()

107000.0

In [15]:
dataset['Mid-Career Median Salary'].idxmax()

8

In [19]:
dataset['Undergraduate Major'].loc[8]

'Chemical Engineering'

In [17]:
dataset.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                              63200
Mid-Career Median Salary                           107000
Mid-Career 10th Percentile Salary                   71900
Mid-Career 90th Percentile Salary                  194000
Group                                                STEM
Name: 8, dtype: object

In [22]:
dataset['Starting Median Salary'].min()

34000.0

In [23]:
dataset['Starting Median Salary'].idxmin()

49

In [25]:
dataset['Undergraduate Major'].loc[49]

'Spanish'

In [26]:
dataset['Mid-Career Median Salary'].min()

52000.0

In [27]:
dataset['Mid-Career Median Salary'].idxmin()

18

In [29]:
dataset.loc[18]

Undergraduate Major                  Education
Starting Median Salary                   34900
Mid-Career Median Salary                 52000
Mid-Career 10th Percentile Salary        29300
Mid-Career 90th Percentile Salary       102000
Group                                     HASS
Name: 18, dtype: object

In [33]:
spread_values = dataset['Mid-Career 90th Percentile Salary'] - dataset['Mid-Career 10th Percentile Salary']
dataset.insert(1, 'Spread', spread_values)
dataset.head()

     Undergraduate Major    Spread  ...  Mid-Career 90th Percentile Salary     Group
0             Accounting  109800.0  ...                           152000.0  Business
1  Aerospace Engineering   96700.0  ...                           161000.0      STEM
2            Agriculture  113700.0  ...                           150000.0  Business
3           Anthropology  104200.0  ...                           138000.0      HASS
4           Architecture   85400.0  ...                           136000.0  Business

[5 rows x 7 columns]

In [39]:
low_risk = dataset.sort_values('Spread', ascending=True)
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [45]:
good_grades = dataset.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
good_grades[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [44]:
high_risk = dataset.sort_values('Spread', ascending=False)
high_risk[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [46]:
mid_grades = dataset.sort_values('Mid-Career Median Salary', ascending=False)
mid_grades[['Undergraduate Major', 'Mid-Career Median Salary']].head()

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

In [47]:
dataset.groupby('Group').count()

          Undergraduate Major  ...  Mid-Career 90th Percentile Salary
Group                          ...
Business                   12  ...                                 12
HASS                       22  ...                                 22
STEM                       16  ...                                 16

[3 rows x 6 columns]

In [56]:
pd.options.display.float_format = '{:,.2f}'.format 
dataset.groupby('Group').mean()

             Spread  ...  Mid-Career 90th Percentile Salary
Group                ...
Business 103,958.33  ...                         147,525.00
HASS      95,218.18  ...                         129,363.64
STEM     101,600.00  ...                         157,625.00

[3 rows x 5 columns]