<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/analise_steag.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd

In [78]:
df1 = pd.read_excel('/content/String.xlsx', sheet_name="Repot")

In [79]:
df2 = pd.read_excel('/content/EXPURGOS SDF_2022-06-29_2022-07-05_PURGE-LIST -.xlsx', sheet_name='Plan1')

In [80]:
df2.head()

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
0,2022-06-30 06:30:00,2022-06-30 06:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),161.072333,1076.684333,0 - COMMUNICATION OK,100.0,111.574667,191.198556,170.091333,0.0,SDF1-1-INV1,30/06/2022,06:30,30/06/2022,06:45,NaN,NaN,NaN,NaN
1,2022-07-01 08:45:00,2022-07-01 09:00:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),402.552333,1016.961333,0 - COMMUNICATION OK,100.0,398.076000,456.823556,406.620667,0.0,SDF1-1-INV1,01/07/2022,08:45,01/07/2022,09:00,NaN,NaN,NaN,NaN
2,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),182.471000,1053.783333,0 - COMMUNICATION OK,100.0,488.709889,215.663889,189.679667,0.0,SDF1-1-INV1,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
3,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),439.951000,992.879000,0 - COMMUNICATION OK,100.0,640.525444,510.717667,431.937667,0.0,SDF1-1-INV1,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN
4,2022-07-01 14:30:00,2022-07-01 14:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),551.413333,1011.206667,0 - COMMUNICATION OK,100.0,565.753889,630.528333,552.882333,0.0,SDF1-1-INV1,01/07/2022,14:30,01/07/2022,14:45,NaN,NaN,NaN,NaN

In [81]:
df2.shape

(2337, 20)

In [82]:
df2.columns

Index([             'date_time_start',                'date_time_end',
       'local_field_its_inv_property',                    'DCCURRENT',
                          'DCVOLTAGE',                    'COMSTATUS',
                       'AVAILABILITY',              'irradiance_mean',
               'its_activepower_mean',                  'ACTIVEPOWER',
                       'is_available',                  'elementName',
                        'initialDate',                  'initialTime',
                          'finalDate',                    'finalTime',
                          'Occurence',              'HPER Exclusions',
                              'Atlas',                       00:15:00],
      dtype='object')

In [83]:
df2['elementName'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
2332     True
2333     True
2334     True
2335     True
2336     True
Name: elementName, Length: 2337, dtype: bool

In [84]:
aux_list_names = df2['elementName'].tolist()
len(aux_list_names)

2337

In [85]:
list_names = []
for element in aux_list_names:
  if element not in list_names:
    list_names.append(element)
list_names.pop(-1)
list_names

['SDF1-1-INV1',
 'SDF1-1-INV3',
 'SDF1-1-INV4',
 'SDF1-2-INV1',
 'SDF1-2-INV2',
 'SDF1-2-INV3',
 'SDF1-2-INV4',
 'SDF1-3-INV1',
 'SDF1-3-INV2',
 'SDF1-3-INV3',
 'SDF1-4-INV1',
 'SDF1-4-INV2',
 'SDF1-4-INV3',
 'SDF1-4-INV4',
 'SDF1-5-INV1',
 'SDF1-5-INV2',
 'SDF1-5-INV3',
 'SDF1-6-INV1',
 'SDF1-6-INV2',
 'SDF1-6-INV3',
 'SDF1-6-INV4',
 'SDF2-1-INV1',
 'SDF2-1-INV2',
 'SDF2-1-INV3',
 'SDF2-2-INV1',
 'SDF2-2-INV2',
 'SDF2-2-INV3',
 'SDF2-2-INV4',
 'SDF2-3-INV1',
 'SDF2-3-INV2',
 'SDF2-3-INV4',
 'SDF2-4-INV1',
 'SDF2-4-INV3',
 'SDF2-5-INV1',
 'SDF2-5-INV2',
 'SDF2-5-INV3',
 'SDF2-5-INV4',
 'SDF2-6-INV1',
 'SDF2-6-INV2',
 'SDF2-6-INV3',
 'SDF2-6-INV4',
 'SDF3-1-INV2',
 'SDF3-1-INV3',
 'SDF3-1-INV4',
 'SDF3-2-INV1',
 'SDF3-2-INV3',
 'SDF3-2-INV4',
 'SDF3-3-INV1',
 'SDF3-3-INV3',
 'SDF3-4-INV2',
 'SDF3-4-INV3',
 'SDF3-4-INV4',
 'SDF3-5-INV1',
 'SDF3-5-INV2',
 'SDF3-5-INV4',
 'SDF3-6-INV1',
 'SDF3-6-INV3',
 'SDF3-6-INV4']

In [86]:
def create_key(word):  
  x = word.split('-')
  return f'{x[0]}_ITS{x[1]}.{x[2]}'

In [ ]:
dict_names = {create_key(name): [name] for name in list_names}
dict_names

In [88]:
dict_names['SDF1_ITS1.INV4']

['SDF1-1-INV4']

In [89]:
df_element_test = df2[df2['elementName'] == 'SDF3-6-INV4']
df_element_test

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
1087,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF3-6-INV4 - ACTIVE POWER (kW),530.358000,1007.926667,0 - COMMUNICATION OK,100.0,488.709889,640.878111,525.846000,0.0,SDF3-6-INV4,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
1088,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF3-6-INV4 - ACTIVE POWER (kW),500.954333,979.708000,0 - COMMUNICATION OK,100.0,640.525444,572.054000,482.393667,0.0,SDF3-6-INV4,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN

In [90]:
for data in dict_names.items():  
  df_element = df2[df2['elementName'] == data[1][0]]
  dict_names[data[0]].append(df_element['ACTIVEPOWER'].mean())

In [ ]:
dict_names

In [92]:
df2.head()

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
0,2022-06-30 06:30:00,2022-06-30 06:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),161.072333,1076.684333,0 - COMMUNICATION OK,100.0,111.574667,191.198556,170.091333,0.0,SDF1-1-INV1,30/06/2022,06:30,30/06/2022,06:45,NaN,NaN,NaN,NaN
1,2022-07-01 08:45:00,2022-07-01 09:00:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),402.552333,1016.961333,0 - COMMUNICATION OK,100.0,398.076000,456.823556,406.620667,0.0,SDF1-1-INV1,01/07/2022,08:45,01/07/2022,09:00,NaN,NaN,NaN,NaN
2,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),182.471000,1053.783333,0 - COMMUNICATION OK,100.0,488.709889,215.663889,189.679667,0.0,SDF1-1-INV1,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
3,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),439.951000,992.879000,0 - COMMUNICATION OK,100.0,640.525444,510.717667,431.937667,0.0,SDF1-1-INV1,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN
4,2022-07-01 14:30:00,2022-07-01 14:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),551.413333,1011.206667,0 - COMMUNICATION OK,100.0,565.753889,630.528333,552.882333,0.0,SDF1-1-INV1,01/07/2022,14:30,01/07/2022,14:45,NaN,NaN,NaN,NaN

In [95]:
df1.head()

,Unnamed: 0,name,name.1,availability,Alterao,availability.1,no comms,not producing,less than neighbor strings,less than neighbor inverters,inverter availability,unavailablePeriods,numOfPeriods,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,SDF1_ITS1.INV1.CB1.1 (TRACKER 01-02),SDF1_ITS1.INV1,0.958771,0.0,0.958771,0.071964,0.000000,0.000000,0.041229,0.958771,55,1334,NaN,NaN,NaN
1,1,SDF1_ITS1.INV1.CB1.2 (TRACKER 03-04),SDF1_ITS1.INV1,0.958771,0.0,0.958771,0.071964,0.000000,0.000000,0.041229,0.958771,55,1334,NaN,NaN,0.965388
2,2,SDF1_ITS1.INV1.CB1.3 (TRACKER 05-06),SDF1_ITS1.INV1,0.958771,0.0,0.958771,0.071964,0.000000,0.000000,0.041229,0.958771,55,1334,NaN,NaN,NaN
3,3,SDF1_ITS1.INV1.CB1.4 (TRACKER 07-08),SDF1_ITS1.INV1,0.914543,0.0,0.914543,0.071964,0.029235,0.070465,0.041229,0.958771,114,1334,NaN,NaN,NaN
4,4,SDF1_ITS1.INV1.CB1.5 (TRACKER 09-10),SDF1_ITS1.INV1,0.955022,0.0,0.955022,0.071964,0.001499,0.004498,0.041229,0.958771,60,1334,NaN,NaN,NaN

In [100]:
list_unique = df1['name.1'].unique()
list_unique

array(['SDF1_ITS1.INV1', 'SDF1_ITS2.INV1', 'SDF1_ITS3.INV1',
       'SDF1_ITS4.INV1', 'SDF1_ITS5.INV1', 'SDF1_ITS1.INV2',
       'SDF1_ITS2.INV2', 'SDF1_ITS3.INV2', 'SDF1_ITS4.INV2',
       'SDF1_ITS5.INV2', 'SDF1_ITS2.INV3', 'SDF1_ITS1.INV3',
       'SDF1_ITS3.INV3', 'SDF1_ITS5.INV3', 'SDF1_ITS4.INV3',
       'SDF1_ITS2.INV4', 'SDF1_ITS1.INV4', 'SDF1_ITS3.INV4',
       'SDF1_ITS5.INV4', 'SDF1_ITS4.INV4', 'SDF1_ITS6.INV1',
       'SDF2_ITS1.INV1', 'SDF2_ITS2.INV1', 'SDF2_ITS3.INV1',
       'SDF2_ITS4.INV1', 'SDF1_ITS6.INV2', 'SDF2_ITS1.INV2',
       'SDF2_ITS2.INV2', 'SDF2_ITS3.INV2', 'SDF2_ITS4.INV2',
       'SDF1_ITS6.INV3', 'SDF2_ITS1.INV3', 'SDF2_ITS2.INV3',
       'SDF2_ITS3.INV3', 'SDF2_ITS4.INV3', 'SDF1_ITS6.INV4',
       'SDF2_ITS1.INV4', 'SDF2_ITS2.INV4', 'SDF2_ITS3.INV4',
       'SDF2_ITS4.INV4', 'SDF2_ITS5.INV1', 'SDF2_ITS6.INV1',
       'SDF3_ITS1.INV1', 'SDF3_ITS2.INV1', 'SDF3_ITS3.INV1',
       'SDF2_ITS5.INV2', 'SDF3_ITS1.INV2', 'SDF3_ITS2.INV2',
       'SDF2_ITS6.INV2', 'SDF3_ITS3.INV2', 'SDF3_ITS1.INV3',
       'SDF2_ITS5.INV3', 'SDF3_ITS2.INV3', 'SDF2_ITS6.INV3',
       'SDF3_ITS3.INV3', 'SDF3_ITS1.INV4', 'SDF2_ITS5.INV4',
       'SDF3_ITS2.INV4', 'SDF3_ITS3.INV4', 'SDF2_ITS6.INV4',
       'SDF3_ITS4.INV1', 'SDF3_ITS5.INV1', 'SDF3_ITS6.INV1',
       'SDF3_ITS4.INV2', 'SDF3_ITS5.INV2', 'SDF3_ITS6.INV2',
       'SDF3_ITS4.INV3', 'SDF3_ITS5.INV3', 'SDF3_ITS6.INV3',
       'SDF3_ITS4.INV4', 'SDF3_ITS5.INV4', 'SDF3_ITS6.INV4'], dtype=object)

In [101]:
df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS2.INV1')]

,Unnamed: 0,name,name.1,availability,Alterao,availability.1,no comms,not producing,less than neighbor strings,less than neighbor inverters,inverter availability,unavailablePeriods,numOfPeriods,Unnamed: 13,Unnamed: 14,Unnamed: 15
8,8,SDF1_ITS2.INV1.CB1.1 (TRACKER 01-02),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
10,10,SDF1_ITS2.INV1.CB1.2 (TRACKER 03-04),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
11,11,SDF1_ITS2.INV1.CB1.3 (TRACKER 05-06),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
13,13,SDF1_ITS2.INV1.CB1.4 (TRACKER 07-08),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
15,15,SDF1_ITS2.INV1.CB1.5 (TRACKER 09-10),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
17,17,SDF1_ITS2.INV1.CB1.6 (TRACKER 11-12),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
19,19,SDF1_ITS2.INV1.CB1.7 (TRACKER 13-14),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
21,21,SDF1_ITS2.INV1.CB1.8 (TRACKER 15-16),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
23,23,SDF1_ITS2.INV1.CB2.1 (TRACKER 01-02),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
25,25,SDF1_ITS2.INV1.CB2.2 (TRACKER 03-04),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
29,29,SDF1_ITS2.INV1.CB2.4 (TRACKER 07-08),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
33,33,SDF1_ITS2.INV1.CB2.5 (TRACKER 09-10),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
36,36,SDF1_ITS2.INV1.CB2.6 (TRACKER 11-12),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
39,39,SDF1_ITS2.INV1.CB2.7 (TRACKER 13-14),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
42,42,SDF1_ITS2.INV1.CB2.8 (TRACKER 15-16),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
44,44,SDF1_ITS2.INV1.CB3.1 (TRACKER 01-02),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
47,47,SDF1_ITS2.INV1.CB3.2 (TRACKER 03-04),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
51,51,SDF1_ITS2.INV1.CB3.3 (TRACKER 05-06),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
56,56,SDF1_ITS2.INV1.CB3.4 (TRACKER 07-08),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
59,59,SDF1_ITS2.INV1.CB3.5 (TRACKER 09-10),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
63,63,SDF1_ITS2.INV1.CB3.6 (TRACKER 11-12),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
66,66,SDF1_ITS2.INV1.CB3.7 (TRACKER 13-14),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
71,71,SDF1_ITS2.INV1.CB3.8 (TRACKER 15-16),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
75,75,SDF1_ITS2.INV1.CB4.1 (TRACKER 01-02),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
78,78,SDF1_ITS2.INV1.CB4.2 (TRACKER 03-04),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
84,84,SDF1_ITS2.INV1.CB4.3 (TRACKER 05-06),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
86,86,SDF1_ITS2.INV1.CB4.4 (TRACKER 07-08),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
89,89,SDF1_ITS2.INV1.CB4.5 (TRACKER 09-10),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
94,94,SDF1_ITS2.INV1.CB4.6 (TRACKER 11-12),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
100,100,SDF1_ITS2.INV1.CB4.7 (TRACKER 13-14),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
104,104,SDF1_ITS2.INV1.CB4.8 (TRACKER 15-16),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
110,110,SDF1_ITS2.INV1.CB5.1 (TRACKER 01-02),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
114,114,SDF1_ITS2.INV1.CB5.2 (TRACKER 03-04),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
117,117,SDF1_ITS2.INV1.CB5.3 (TRACKER 05-06),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
125,125,SDF1_ITS2.INV1.CB5.4 (TRACKER 07-08),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
130,130,SDF1_ITS2.INV1.CB5.5 (TRACKER 09-10),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
135,135,SDF1_ITS2.INV1.CB5.6 (TRACKER 11-12),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
139,139,SDF1_ITS2.INV1.CB5.7 (TRACKER 13-14),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
146,146,SDF1_ITS2.INV1.CB6.1 (TRACKER 01-02),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
150,150,SDF1_ITS2.INV1.CB6.2 (TRACKER 03-04),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
155,155,SDF1_ITS2.INV1.CB6.3 (TRACKER 05-06),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
161,161,SDF1_ITS2.INV1.CB6.4 (TRACKER 07-08),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
166,166,SDF1_ITS2.INV1.CB6.5 (TRACKER 09-10),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
172,172,SDF1_ITS2.INV1.CB6.6 (TRACKER 11-12),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
176,176,SDF1_ITS2.INV1.CB6.7 (TRACKER 13-14),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
181,181,SDF1_ITS2.INV1.CB6.8 (TRACKER 15-16),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
186,186,SDF1_ITS2.INV1.CB1.1 (TRACKER 17-18),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
196,196,SDF1_ITS2.INV1.CB3.1 (TRACKER 17-18),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
201,201,SDF1_ITS2.INV1.CB4.1 (TRACKER 17-18),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
207,207,SDF1_ITS2.INV1.CB5.1 (TRACKER 17-18),SDF1_ITS2.INV1,0.000000,0.0,0.000000,0.0,1.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
211,211,SDF1_ITS2.INV1.CB6.1 (TRACKER 17-18),SDF1_ITS2.INV1,0.970458,0.0,0.970458,1.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN

In [102]:
# for element in list_unique:
if dict_names['SDF1_ITS2.INV1'][1] > 40:
  df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS2.INV1'), ['less than neighbor strings', 'not producing', 'no comms', 'availability']] = [0,0,0,1]
  # df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS1.INV1'), 'less than neighbor strings'] = 0
  # df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS1.INV1'), 'not producing'] = 0
  # df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS1.INV1'), 'no comms'] = 0
  # df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS1.INV1'), 'availability'] = 1
df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == 'SDF1_ITS2.INV1')]

Empty DataFrame
Columns: [Unnamed: 0, name, name.1, availability, Alterao, availability.1, no comms, not producing, less than neighbor strings, less than neighbor inverters, inverter availability, unavailablePeriods, numOfPeriods, Unnamed: 13, Unnamed: 14, Unnamed: 15]
Index: []

In [99]:
df1.head()

,Unnamed: 0,name,name.1,availability,Alterao,availability.1,no comms,not producing,less than neighbor strings,less than neighbor inverters,inverter availability,unavailablePeriods,numOfPeriods,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,SDF1_ITS1.INV1.CB1.1 (TRACKER 01-02),SDF1_ITS1.INV1,1.0,0.0,0.958771,0.0,0.0,0.0,0.041229,0.958771,55,1334,NaN,NaN,NaN
1,1,SDF1_ITS1.INV1.CB1.2 (TRACKER 03-04),SDF1_ITS1.INV1,1.0,0.0,0.958771,0.0,0.0,0.0,0.041229,0.958771,55,1334,NaN,NaN,0.965388
2,2,SDF1_ITS1.INV1.CB1.3 (TRACKER 05-06),SDF1_ITS1.INV1,1.0,0.0,0.958771,0.0,0.0,0.0,0.041229,0.958771,55,1334,NaN,NaN,NaN
3,3,SDF1_ITS1.INV1.CB1.4 (TRACKER 07-08),SDF1_ITS1.INV1,1.0,0.0,0.914543,0.0,0.0,0.0,0.041229,0.958771,114,1334,NaN,NaN,NaN
4,4,SDF1_ITS1.INV1.CB1.5 (TRACKER 09-10),SDF1_ITS1.INV1,1.0,0.0,0.955022,0.0,0.0,0.0,0.041229,0.958771,60,1334,NaN,NaN,NaN

In [104]:
df1.loc[(df1['name.1'] == 'SDF1_ITS2.INV1')]

,Unnamed: 0,name,name.1,availability,Alterao,availability.1,no comms,not producing,less than neighbor strings,less than neighbor inverters,inverter availability,unavailablePeriods,numOfPeriods,Unnamed: 13,Unnamed: 14,Unnamed: 15
8,8,SDF1_ITS2.INV1.CB1.1 (TRACKER 01-02),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
10,10,SDF1_ITS2.INV1.CB1.2 (TRACKER 03-04),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
11,11,SDF1_ITS2.INV1.CB1.3 (TRACKER 05-06),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
13,13,SDF1_ITS2.INV1.CB1.4 (TRACKER 07-08),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
15,15,SDF1_ITS2.INV1.CB1.5 (TRACKER 09-10),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
17,17,SDF1_ITS2.INV1.CB1.6 (TRACKER 11-12),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
19,19,SDF1_ITS2.INV1.CB1.7 (TRACKER 13-14),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
21,21,SDF1_ITS2.INV1.CB1.8 (TRACKER 15-16),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
23,23,SDF1_ITS2.INV1.CB2.1 (TRACKER 01-02),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
25,25,SDF1_ITS2.INV1.CB2.2 (TRACKER 03-04),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
29,29,SDF1_ITS2.INV1.CB2.4 (TRACKER 07-08),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
33,33,SDF1_ITS2.INV1.CB2.5 (TRACKER 09-10),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
36,36,SDF1_ITS2.INV1.CB2.6 (TRACKER 11-12),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
39,39,SDF1_ITS2.INV1.CB2.7 (TRACKER 13-14),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
42,42,SDF1_ITS2.INV1.CB2.8 (TRACKER 15-16),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
44,44,SDF1_ITS2.INV1.CB3.1 (TRACKER 01-02),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
47,47,SDF1_ITS2.INV1.CB3.2 (TRACKER 03-04),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
51,51,SDF1_ITS2.INV1.CB3.3 (TRACKER 05-06),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
56,56,SDF1_ITS2.INV1.CB3.4 (TRACKER 07-08),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
59,59,SDF1_ITS2.INV1.CB3.5 (TRACKER 09-10),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
63,63,SDF1_ITS2.INV1.CB3.6 (TRACKER 11-12),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
66,66,SDF1_ITS2.INV1.CB3.7 (TRACKER 13-14),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
71,71,SDF1_ITS2.INV1.CB3.8 (TRACKER 15-16),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
75,75,SDF1_ITS2.INV1.CB4.1 (TRACKER 01-02),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
78,78,SDF1_ITS2.INV1.CB4.2 (TRACKER 03-04),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
84,84,SDF1_ITS2.INV1.CB4.3 (TRACKER 05-06),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
86,86,SDF1_ITS2.INV1.CB4.4 (TRACKER 07-08),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
89,89,SDF1_ITS2.INV1.CB4.5 (TRACKER 09-10),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
94,94,SDF1_ITS2.INV1.CB4.6 (TRACKER 11-12),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
100,100,SDF1_ITS2.INV1.CB4.7 (TRACKER 13-14),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
104,104,SDF1_ITS2.INV1.CB4.8 (TRACKER 15-16),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
110,110,SDF1_ITS2.INV1.CB5.1 (TRACKER 01-02),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
114,114,SDF1_ITS2.INV1.CB5.2 (TRACKER 03-04),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
117,117,SDF1_ITS2.INV1.CB5.3 (TRACKER 05-06),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
125,125,SDF1_ITS2.INV1.CB5.4 (TRACKER 07-08),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
130,130,SDF1_ITS2.INV1.CB5.5 (TRACKER 09-10),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
135,135,SDF1_ITS2.INV1.CB5.6 (TRACKER 11-12),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
139,139,SDF1_ITS2.INV1.CB5.7 (TRACKER 13-14),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
146,146,SDF1_ITS2.INV1.CB6.1 (TRACKER 01-02),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
150,150,SDF1_ITS2.INV1.CB6.2 (TRACKER 03-04),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
155,155,SDF1_ITS2.INV1.CB6.3 (TRACKER 05-06),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
161,161,SDF1_ITS2.INV1.CB6.4 (TRACKER 07-08),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
166,166,SDF1_ITS2.INV1.CB6.5 (TRACKER 09-10),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
172,172,SDF1_ITS2.INV1.CB6.6 (TRACKER 11-12),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
176,176,SDF1_ITS2.INV1.CB6.7 (TRACKER 13-14),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
181,181,SDF1_ITS2.INV1.CB6.8 (TRACKER 15-16),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
186,186,SDF1_ITS2.INV1.CB1.1 (TRACKER 17-18),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN
196,196,SDF1_ITS2.INV1.CB3.1 (TRACKER 17-18),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
201,201,SDF1_ITS2.INV1.CB4.1 (TRACKER 17-18),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
207,207,SDF1_ITS2.INV1.CB5.1 (TRACKER 17-18),SDF1_ITS2.INV1,1.0,0.0,0.000000,0.0,0.0,0.0,0.029542,0.970458,1354,1354,NaN,NaN,NaN
211,211,SDF1_ITS2.INV1.CB6.1 (TRACKER 17-18),SDF1_ITS2.INV1,1.0,0.0,0.970458,0.0,0.0,0.0,0.029542,0.970458,40,1354,NaN,NaN,NaN