<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/analise_steag.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd
import numpy as np

In [101]:
df1 = pd.read_excel('/content/String.xlsx', sheet_name="Apoio")

In [102]:
df2 = pd.read_excel('/content/EXPURGOS SDF_2022-06-29_2022-07-05_PURGE-LIST -.xlsx', sheet_name='Plan1')

In [103]:
df2.head()

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
0,2022-06-30 06:30:00,2022-06-30 06:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),161.072333,1076.684333,0 - COMMUNICATION OK,100.0,111.574667,191.198556,170.091333,0.0,SDF1-1-INV1,30/06/2022,06:30,30/06/2022,06:45,NaN,NaN,NaN,NaN
1,2022-07-01 08:45:00,2022-07-01 09:00:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),402.552333,1016.961333,0 - COMMUNICATION OK,100.0,398.076000,456.823556,406.620667,0.0,SDF1-1-INV1,01/07/2022,08:45,01/07/2022,09:00,NaN,NaN,NaN,NaN
2,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),182.471000,1053.783333,0 - COMMUNICATION OK,100.0,488.709889,215.663889,189.679667,0.0,SDF1-1-INV1,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
3,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),439.951000,992.879000,0 - COMMUNICATION OK,100.0,640.525444,510.717667,431.937667,0.0,SDF1-1-INV1,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN
4,2022-07-01 14:30:00,2022-07-01 14:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),551.413333,1011.206667,0 - COMMUNICATION OK,100.0,565.753889,630.528333,552.882333,0.0,SDF1-1-INV1,01/07/2022,14:30,01/07/2022,14:45,NaN,NaN,NaN,NaN

In [104]:
df2.isnull().values.any()

True

In [105]:
df2.shape

(2337, 20)

In [106]:
df2.columns

Index([             'date_time_start',                'date_time_end',
       'local_field_its_inv_property',                    'DCCURRENT',
                          'DCVOLTAGE',                    'COMSTATUS',
                       'AVAILABILITY',              'irradiance_mean',
               'its_activepower_mean',                  'ACTIVEPOWER',
                       'is_available',                  'elementName',
                        'initialDate',                  'initialTime',
                          'finalDate',                    'finalTime',
                          'Occurence',              'HPER Exclusions',
                              'Atlas',                       00:15:00],
      dtype='object')

In [107]:
aux_list_names = df2['elementName'].tolist()
len(aux_list_names)

2337

In [108]:
# list_names = []
# for element in aux_list_names:
#   if element not in list_names:
#     list_names.append(element)
# list_names.pop(-1)
# len(list_names)

In [109]:
list_names_unique = df2['elementName'].unique()
list_names = np.delete(list_names_unique, -1)
list_names

array(['SDF1-1-INV1', 'SDF1-1-INV3', 'SDF1-1-INV4', 'SDF1-2-INV1',
       'SDF1-2-INV2', 'SDF1-2-INV3', 'SDF1-2-INV4', 'SDF1-3-INV1',
       'SDF1-3-INV2', 'SDF1-3-INV3', 'SDF1-4-INV1', 'SDF1-4-INV2',
       'SDF1-4-INV3', 'SDF1-4-INV4', 'SDF1-5-INV1', 'SDF1-5-INV2',
       'SDF1-5-INV3', 'SDF1-6-INV1', 'SDF1-6-INV2', 'SDF1-6-INV3',
       'SDF1-6-INV4', 'SDF2-1-INV1', 'SDF2-1-INV2', 'SDF2-1-INV3',
       'SDF2-2-INV1', 'SDF2-2-INV2', 'SDF2-2-INV3', 'SDF2-2-INV4',
       'SDF2-3-INV1', 'SDF2-3-INV2', 'SDF2-3-INV4', 'SDF2-4-INV1',
       'SDF2-4-INV3', 'SDF2-5-INV1', 'SDF2-5-INV2', 'SDF2-5-INV3',
       'SDF2-5-INV4', 'SDF2-6-INV1', 'SDF2-6-INV2', 'SDF2-6-INV3',
       'SDF2-6-INV4', 'SDF3-1-INV2', 'SDF3-1-INV3', 'SDF3-1-INV4',
       'SDF3-2-INV1', 'SDF3-2-INV3', 'SDF3-2-INV4', 'SDF3-3-INV1',
       'SDF3-3-INV3', 'SDF3-4-INV2', 'SDF3-4-INV3', 'SDF3-4-INV4',
       'SDF3-5-INV1', 'SDF3-5-INV2', 'SDF3-5-INV4', 'SDF3-6-INV1',
       'SDF3-6-INV3', 'SDF3-6-INV4'], dtype=object)

In [110]:
def create_key(word):  
  x = word.split('-')
  return f'{x[0]}_ITS{x[1]}.{x[2]}'

In [130]:
dict_names = {create_key(name): [name] for name in list_names}
dict_names

{'SDF1_ITS1.INV1': ['SDF1-1-INV1'],
 'SDF1_ITS1.INV3': ['SDF1-1-INV3'],
 'SDF1_ITS1.INV4': ['SDF1-1-INV4'],
 'SDF1_ITS2.INV1': ['SDF1-2-INV1'],
 'SDF1_ITS2.INV2': ['SDF1-2-INV2'],
 'SDF1_ITS2.INV3': ['SDF1-2-INV3'],
 'SDF1_ITS2.INV4': ['SDF1-2-INV4'],
 'SDF1_ITS3.INV1': ['SDF1-3-INV1'],
 'SDF1_ITS3.INV2': ['SDF1-3-INV2'],
 'SDF1_ITS3.INV3': ['SDF1-3-INV3'],
 'SDF1_ITS4.INV1': ['SDF1-4-INV1'],
 'SDF1_ITS4.INV2': ['SDF1-4-INV2'],
 'SDF1_ITS4.INV3': ['SDF1-4-INV3'],
 'SDF1_ITS4.INV4': ['SDF1-4-INV4'],
 'SDF1_ITS5.INV1': ['SDF1-5-INV1'],
 'SDF1_ITS5.INV2': ['SDF1-5-INV2'],
 'SDF1_ITS5.INV3': ['SDF1-5-INV3'],
 'SDF1_ITS6.INV1': ['SDF1-6-INV1'],
 'SDF1_ITS6.INV2': ['SDF1-6-INV2'],
 'SDF1_ITS6.INV3': ['SDF1-6-INV3'],
 'SDF1_ITS6.INV4': ['SDF1-6-INV4'],
 'SDF2_ITS1.INV1': ['SDF2-1-INV1'],
 'SDF2_ITS1.INV2': ['SDF2-1-INV2'],
 'SDF2_ITS1.INV3': ['SDF2-1-INV3'],
 'SDF2_ITS2.INV1': ['SDF2-2-INV1'],
 'SDF2_ITS2.INV2': ['SDF2-2-INV2'],
 'SDF2_ITS2.INV3': ['SDF2-2-INV3'],
 'SDF2_ITS2.INV4': ['SDF2-2-INV4'],
 'SDF2_ITS3.INV1': ['SDF2-3-INV1'],
 'SDF2_ITS3.INV2': ['SDF2-3-INV2'],
 'SDF2_ITS3.INV4': ['SDF2-3-INV4'],
 'SDF2_ITS4.INV1': ['SDF2-4-INV1'],
 'SDF2_ITS4.INV3': ['SDF2-4-INV3'],
 'SDF2_ITS5.INV1': ['SDF2-5-INV1'],
 'SDF2_ITS5.INV2': ['SDF2-5-INV2'],
 'SDF2_ITS5.INV3': ['SDF2-5-INV3'],
 'SDF2_ITS5.INV4': ['SDF2-5-INV4'],
 'SDF2_ITS6.INV1': ['SDF2-6-INV1'],
 'SDF2_ITS6.INV2': ['SDF2-6-INV2'],
 'SDF2_ITS6.INV3': ['SDF2-6-INV3'],
 'SDF2_ITS6.INV4': ['SDF2-6-INV4'],
 'SDF3_ITS1.INV2': ['SDF3-1-INV2'],
 'SDF3_ITS1.INV3': ['SDF3-1-INV3'],
 'SDF3_ITS1.INV4': ['SDF3-1-INV4'],
 'SDF3_ITS2.INV1': ['SDF3-2-INV1'],
 'SDF3_ITS2.INV3': ['SDF3-2-INV3'],
 'SDF3_ITS2.INV4': ['SDF3-2-INV4'],
 'SDF3_ITS3.INV1': ['SDF3-3-INV1'],
 'SDF3_ITS3.INV3': ['SDF3-3-INV3'],
 'SDF3_ITS4.INV2': ['SDF3-4-INV2'],
 'SDF3_ITS4.INV3': ['SDF3-4-INV3'],
 'SDF3_ITS4.INV4': ['SDF3-4-INV4'],
 'SDF3_ITS5.INV1': ['SDF3-5-INV1'],
 'SDF3_ITS5.INV2': ['SDF3-5-INV2'],
 'SDF3_ITS5.INV4': ['SDF3-5-INV4'],
 'SDF3_ITS6.INV1': ['SDF3-6-INV1'],
 'SDF3_ITS6.INV3': ['SDF3-6-INV3'],
 'SDF3_ITS6.INV4': ['SDF3-6-INV4']}

In [131]:
dict_names['SDF3_ITS6.INV4']

['SDF3-6-INV4']

In [132]:
df2[df2['elementName'] == 'SDF3-6-INV4']

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
1087,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF3-6-INV4 - ACTIVE POWER (kW),530.358000,1007.926667,0 - COMMUNICATION OK,100.0,488.709889,640.878111,525.846000,0.0,SDF3-6-INV4,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
1088,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF3-6-INV4 - ACTIVE POWER (kW),500.954333,979.708000,0 - COMMUNICATION OK,100.0,640.525444,572.054000,482.393667,0.0,SDF3-6-INV4,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN

In [133]:
for data in dict_names.items():  
  df_element = df2[df2['elementName'] == data[1][0]]
  dict_names[data[0]].append(df_element['ACTIVEPOWER'].mean())

In [134]:
dict_names

{'SDF1_ITS1.INV1': ['SDF1-1-INV1', 402.8215757575759],
 'SDF1_ITS1.INV3': ['SDF1-1-INV3', 370.5139166666668],
 'SDF1_ITS1.INV4': ['SDF1-1-INV4', 192.92308333333327],
 'SDF1_ITS2.INV1': ['SDF1-2-INV1', 335.4365555555557],
 'SDF1_ITS2.INV2': ['SDF1-2-INV2', 275.3895],
 'SDF1_ITS2.INV3': ['SDF1-2-INV3', 326.2976666666665],
 'SDF1_ITS2.INV4': ['SDF1-2-INV4', 247.49361111111116],
 'SDF1_ITS3.INV1': ['SDF1-3-INV1', 445.02430864197527],
 'SDF1_ITS3.INV2': ['SDF1-3-INV2', 367.1013333333335],
 'SDF1_ITS3.INV3': ['SDF1-3-INV3', 75.806],
 'SDF1_ITS4.INV1': ['SDF1-4-INV1', 381.30305555555555],
 'SDF1_ITS4.INV2': ['SDF1-4-INV2', 230.403666666667],
 'SDF1_ITS4.INV3': ['SDF1-4-INV3', 279.8510666666666],
 'SDF1_ITS4.INV4': ['SDF1-4-INV4', 195.000333333333],
 'SDF1_ITS5.INV1': ['SDF1-5-INV1', 294.7386111111113],
 'SDF1_ITS5.INV2': ['SDF1-5-INV2', 186.2206666666665],
 'SDF1_ITS5.INV3': ['SDF1-5-INV3', 183.26866666666677],
 'SDF1_ITS6.INV1': ['SDF1-6-INV1', 412.95094444444436],
 'SDF1_ITS6.INV2': ['SDF1-6-INV2', 185.90855555555564],
 'SDF1_ITS6.INV3': ['SDF1-6-INV3', 255.45427777777766],
 'SDF1_ITS6.INV4': ['SDF1-6-INV4', 287.949],
 'SDF2_ITS1.INV1': ['SDF2-1-INV1', 377.1653333333333],
 'SDF2_ITS1.INV2': ['SDF2-1-INV2', 182.829333333333],
 'SDF2_ITS1.INV3': ['SDF2-1-INV3', 139.529761904762],
 'SDF2_ITS2.INV1': ['SDF2-2-INV1', 132.14400000000003],
 'SDF2_ITS2.INV2': ['SDF2-2-INV2', 165.001666666667],
 'SDF2_ITS2.INV3': ['SDF2-2-INV3', 356.1818333333335],
 'SDF2_ITS2.INV4': ['SDF2-2-INV4', 507.6944629629629],
 'SDF2_ITS3.INV1': ['SDF2-3-INV1', 381.3763055555555],
 'SDF2_ITS3.INV2': ['SDF2-3-INV2', 184.4505333333333],
 'SDF2_ITS3.INV4': ['SDF2-3-INV4', 303.1489666666666],
 'SDF2_ITS4.INV1': ['SDF2-4-INV1', 251.05808333333326],
 'SDF2_ITS4.INV3': ['SDF2-4-INV3', 671.341666666667],
 'SDF2_ITS5.INV1': ['SDF2-5-INV1', 301.3100666666666],
 'SDF2_ITS5.INV2': ['SDF2-5-INV2', 371.08188888888895],
 'SDF2_ITS5.INV3': ['SDF2-5-INV3', 355.93769444444456],
 'SDF2_ITS5.INV4': ['SDF2-5-INV4', 139.61288888888885],
 'SDF2_ITS6.INV1': ['SDF2-6-INV1', 241.5553333333333],
 'SDF2_ITS6.INV2': ['SDF2-6-INV2', 270.738666666667],
 'SDF2_ITS6.INV3': ['SDF2-6-INV3', 461.19094444444426],
 'SDF2_ITS6.INV4': ['SDF2-6-INV4', 406.6208333333335],
 'SDF3_ITS1.INV2': ['SDF3-1-INV2', 105.329333333333],
 'SDF3_ITS1.INV3': ['SDF3-1-INV3', 702.982666666667],
 'SDF3_ITS1.INV4': ['SDF3-1-INV4', 517.9209338624339],
 'SDF3_ITS2.INV1': ['SDF3-2-INV1', 486.0365833333333],
 'SDF3_ITS2.INV3': ['SDF3-2-INV3', 325.40141666666676],
 'SDF3_ITS2.INV4': ['SDF3-2-INV4', 322.763666666667],
 'SDF3_ITS3.INV1': ['SDF3-3-INV1', 467.55933333333326],
 'SDF3_ITS3.INV3': ['SDF3-3-INV3', 371.52833333333325],
 'SDF3_ITS4.INV2': ['SDF3-4-INV2', 153.786333333333],
 'SDF3_ITS4.INV3': ['SDF3-4-INV3', 140.24741666666677],
 'SDF3_ITS4.INV4': ['SDF3-4-INV4', 509.05548966408264],
 'SDF3_ITS5.INV1': ['SDF3-5-INV1', 574.083230769231],
 'SDF3_ITS5.INV2': ['SDF3-5-INV2', 489.50925],
 'SDF3_ITS5.INV4': ['SDF3-5-INV4', 395.1792424242425],
 'SDF3_ITS6.INV1': ['SDF3-6-INV1', 107.67981481481485],
 'SDF3_ITS6.INV3': ['SDF3-6-INV3', 377.7723333333335],
 'SDF3_ITS6.INV4': ['SDF3-6-INV4', 504.11983333333353]}

In [135]:
df2.head()

,date_time_start,date_time_end,local_field_its_inv_property,DCCURRENT,DCVOLTAGE,COMSTATUS,AVAILABILITY,irradiance_mean,its_activepower_mean,ACTIVEPOWER,is_available,elementName,initialDate,initialTime,finalDate,finalTime,Occurence,HPER Exclusions,Atlas,00:15:00
0,2022-06-30 06:30:00,2022-06-30 06:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),161.072333,1076.684333,0 - COMMUNICATION OK,100.0,111.574667,191.198556,170.091333,0.0,SDF1-1-INV1,30/06/2022,06:30,30/06/2022,06:45,NaN,NaN,NaN,NaN
1,2022-07-01 08:45:00,2022-07-01 09:00:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),402.552333,1016.961333,0 - COMMUNICATION OK,100.0,398.076000,456.823556,406.620667,0.0,SDF1-1-INV1,01/07/2022,08:45,01/07/2022,09:00,NaN,NaN,NaN,NaN
2,2022-07-01 09:00:00,2022-07-01 09:15:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),182.471000,1053.783333,0 - COMMUNICATION OK,100.0,488.709889,215.663889,189.679667,0.0,SDF1-1-INV1,01/07/2022,09:00,01/07/2022,09:15,NaN,NaN,NaN,NaN
3,2022-07-01 09:30:00,2022-07-01 09:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),439.951000,992.879000,0 - COMMUNICATION OK,100.0,640.525444,510.717667,431.937667,0.0,SDF1-1-INV1,01/07/2022,09:30,01/07/2022,09:45,NaN,NaN,NaN,NaN
4,2022-07-01 14:30:00,2022-07-01 14:45:00,Sol do Futuro - SDF1-1-INV1 - ACTIVE POWER (kW),551.413333,1011.206667,0 - COMMUNICATION OK,100.0,565.753889,630.528333,552.882333,0.0,SDF1-1-INV1,01/07/2022,14:30,01/07/2022,14:45,NaN,NaN,NaN,NaN

In [136]:
df1.head()

,Unnamed: 0,name,name.1,0.965387509405568,Alteração,availability,no comms,not producing,less than neighbor strings,less than neighbor inverters,inverter availability,unavailablePeriods,numOfPeriods,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,SDF1_ITS1.INV1.CB1.1 (TRACKER 01-02),SDF1_ITS1.INV1,0.958771,0.0,1.0,0.0,0.0,0.0,0.041229,0.958771,55,1334,NaN,NaN,NaN
1,1,SDF1_ITS1.INV1.CB1.2 (TRACKER 03-04),SDF1_ITS1.INV1,0.958771,0.0,1.0,0.0,0.0,0.0,0.041229,0.958771,55,1334,NaN,NaN,0.874251
2,2,SDF1_ITS1.INV1.CB1.3 (TRACKER 05-06),SDF1_ITS1.INV1,0.958771,0.0,1.0,0.0,0.0,0.0,0.041229,0.958771,55,1334,NaN,NaN,NaN
3,3,SDF1_ITS1.INV1.CB1.4 (TRACKER 07-08),SDF1_ITS1.INV1,0.914543,0.0,1.0,0.0,0.0,0.0,0.041229,0.958771,114,1334,NaN,NaN,NaN
4,4,SDF1_ITS1.INV1.CB1.5 (TRACKER 09-10),SDF1_ITS1.INV1,0.955022,0.0,1.0,0.0,0.0,0.0,0.041229,0.958771,60,1334,NaN,NaN,NaN

In [137]:
list_unique = df1['name.1'].unique()
list_unique

array(['SDF1_ITS1.INV1', 'SDF1_ITS2.INV1', 'SDF1_ITS3.INV1',
       'SDF1_ITS4.INV1', 'SDF1_ITS5.INV1', 'SDF1_ITS1.INV2',
       'SDF1_ITS2.INV2', 'SDF1_ITS3.INV2', 'SDF1_ITS4.INV2',
       'SDF1_ITS5.INV2', 'SDF1_ITS2.INV3', 'SDF1_ITS1.INV3',
       'SDF1_ITS3.INV3', 'SDF1_ITS5.INV3', 'SDF1_ITS4.INV3',
       'SDF1_ITS2.INV4', 'SDF1_ITS1.INV4', 'SDF1_ITS3.INV4',
       'SDF1_ITS5.INV4', 'SDF1_ITS4.INV4', 'SDF1_ITS6.INV1',
       'SDF2_ITS1.INV1', 'SDF2_ITS2.INV1', 'SDF2_ITS3.INV1',
       'SDF2_ITS4.INV1', 'SDF1_ITS6.INV2', 'SDF2_ITS1.INV2',
       'SDF2_ITS2.INV2', 'SDF2_ITS3.INV2', 'SDF2_ITS4.INV2',
       'SDF1_ITS6.INV3', 'SDF2_ITS1.INV3', 'SDF2_ITS2.INV3',
       'SDF2_ITS3.INV3', 'SDF2_ITS4.INV3', 'SDF1_ITS6.INV4',
       'SDF2_ITS1.INV4', 'SDF2_ITS2.INV4', 'SDF2_ITS3.INV4',
       'SDF2_ITS4.INV4', 'SDF2_ITS5.INV1', 'SDF2_ITS6.INV1',
       'SDF3_ITS1.INV1', 'SDF3_ITS2.INV1', 'SDF3_ITS3.INV1',
       'SDF2_ITS5.INV2', 'SDF3_ITS1.INV2', 'SDF3_ITS2.INV2',
       'SDF2_ITS6.INV2', 'SDF3_ITS3.INV2', 'SDF3_ITS1.INV3',
       'SDF2_ITS5.INV3', 'SDF3_ITS2.INV3', 'SDF2_ITS6.INV3',
       'SDF3_ITS3.INV3', 'SDF3_ITS1.INV4', 'SDF2_ITS5.INV4',
       'SDF3_ITS2.INV4', 'SDF3_ITS3.INV4', 'SDF2_ITS6.INV4',
       'SDF3_ITS4.INV1', 'SDF3_ITS5.INV1', 'SDF3_ITS6.INV1',
       'SDF3_ITS4.INV2', 'SDF3_ITS5.INV2', 'SDF3_ITS6.INV2',
       'SDF3_ITS4.INV3', 'SDF3_ITS5.INV3', 'SDF3_ITS6.INV3',
       'SDF3_ITS4.INV4', 'SDF3_ITS5.INV4', 'SDF3_ITS6.INV4'], dtype=object)

In [138]:
for element in list_unique:
  activepower = dict_names.get(element, [element, 30])  
  if activepower[1] > 40:
    df1.loc[(df1.availability <= 0.99) & (df1['name.1'] == element), ['less than neighbor strings', 'not producing', 'no comms', 'availability']] = [0,0,0,1]

In [139]:
df1.tail()

,Unnamed: 0,name,name.1,0.965387509405568,Alteração,availability,no comms,not producing,less than neighbor strings,less than neighbor inverters,inverter availability,unavailablePeriods,numOfPeriods,Unnamed: 13,Unnamed: 14,Unnamed: 15
3752,3793,SDF3_ITS6.INV4.CB2.1 (TRACKER 17-18),SDF3_ITS6.INV4,NaN,NaN,1.0,0.0,0.0,0.0,0.016369,0.983631,23,1344,NaN,NaN,NaN
3753,3794,SDF3_ITS6.INV4.CB3.1 (TRACKER 17-18),SDF3_ITS6.INV4,NaN,NaN,1.0,0.0,0.0,0.0,0.016369,0.983631,24,1344,NaN,NaN,NaN
3754,3795,SDF3_ITS6.INV4.CB4.1 (TRACKER 17-18),SDF3_ITS6.INV4,NaN,NaN,1.0,0.0,0.0,0.0,0.016369,0.983631,22,1344,NaN,NaN,NaN
3755,3796,SDF3_ITS6.INV4.CB5.1 (TRACKER 17-18),SDF3_ITS6.INV4,NaN,NaN,1.0,0.0,0.0,0.0,0.016369,0.983631,55,1344,NaN,NaN,NaN
3756,3797,SDF3_ITS6.INV4.CB6.1 (TRACKER 17-18),SDF3_ITS6.INV4,NaN,NaN,1.0,0.0,0.0,0.0,0.016369,0.983631,34,1344,NaN,NaN,NaN

In [121]:
df1[['name', 'name.1', 'availability', 'no comms', 'not producing', 'less than neighbor strings', 'less than neighbor inverters', 'inverter availability', 'unavailablePeriods', 'numOfPeriods']].to_excel('teste_string.xlsx')

In [140]:
df1.isnull().values.any()

True

In [141]:
dict_names['SDF1_ITS3.INV4']

KeyError: ignored