<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randn(600,5))
df

            0         1         2         3         4
0   -0.236753  0.216831 -1.174527  1.409693  0.454978
1   -2.105254 -1.474432  1.208360  0.546882 -0.370358
2   -0.310731  0.676585  0.804386  0.891806  0.422401
3   -0.049994  0.071581  0.090610  0.922398 -1.478221
4   -1.959784 -0.205926 -1.422042  0.382537 -0.685103
..        ...       ...       ...       ...       ...
595 -0.245876  1.788129 -0.360166 -0.266716  2.201833
596 -1.562896 -0.700656 -1.961309  0.070370  0.898375
597  0.463951 -0.871550  0.915693 -1.676474  0.888287
598 -0.728408  0.460023  1.870369  0.723400  0.349111
599 -0.530490  0.663271 -1.366533 -1.335723 -0.947113

[600 rows x 5 columns]

In [5]:
datas1 = pd.Series([7, 4.2, 6, 9, 10])
datas1

0     7.0
1     4.2
2     6.0
3     9.0
4    10.0
dtype: float64

In [6]:
names = ['Julio', 'Carla', 'Manu', 'João', 'Bento', 'Arthur']

In [7]:
data = pd.date_range('20180101', periods=6, freq='D')
data

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df1 = pd.DataFrame(np.random.randn(6,4), index=names, columns=list('ABCD'))
df1

               A         B         C         D
Julio  -0.560484  1.169675 -0.131941  0.737123
Carla   0.171223 -0.588786  0.122677 -0.235714
Manu    0.277456 -0.203743  0.638363 -0.333301
João    0.539578 -0.524604  0.353376 -0.087677
Bento  -0.558075 -0.560816  0.079305 -0.409072
Arthur -0.619253  1.665727  0.336934  0.593738