<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [9]:
data = pd.date_range('20180101', periods=6, freq='D')
df = pd.DataFrame(np.random.randn(600,5))
df

            0         1         2         3         4
0   -0.301144  0.072429  1.398274 -1.151313 -1.130548
1   -0.794108  0.572213  0.331350 -1.884751  0.513555
2    0.242159  0.188368  0.726662 -1.519655 -0.595118
3    1.937744 -0.095927  1.034859  1.079855 -1.672617
4   -1.038304  1.429063  0.235268 -0.088310 -0.339059
..        ...       ...       ...       ...       ...
595 -1.404182 -1.090645  0.185231 -0.279549 -0.220733
596 -0.215028  0.787201  0.102495  1.290833 -0.759630
597  0.400893  1.808039  0.130071  0.513949  0.107266
598  0.502690 -0.191257 -0.355879  2.028395 -0.240420
599  0.280843  0.556698  0.211204 -0.154944  1.402109

[600 rows x 5 columns]

In [8]:
datas1 = pd.Series([7, 4.2, 6, 9, 10])
datas1

0     7.0
1     4.2
2     6.0
3     9.0
4    10.0
dtype: float64

In [16]:
names = ['Julio', 'Carla', 'Manu', 'João', 'Bento', 'Arthur']

In [14]:
data = pd.date_range('20180101', periods=6, freq='D')
data

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df1 = pd.DataFrame(np.random.randn(6,4), index=names, columns=list('ABCD'))
df1

               A         B         C         D
Julio   2.408640 -1.346523  0.067814 -0.383138
Carla  -0.850864  1.105442 -0.005962  0.200948
Manu   -1.441336 -0.023065 -1.865710  1.389805
João    1.093526 -1.204003 -2.262611  0.661299
Bento   1.240250  1.254440  1.934953 -0.404901
Arthur -0.294038  0.030678 -0.686365  0.144799