<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/func_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-01-01 -1.818994 -0.696158  0.254603  0.558830 -1.252441
2018-01-02 -0.846119  0.659491  1.549177 -1.764346 -2.056687
2018-01-03  0.061135 -0.781849 -0.430414 -0.810437 -0.964928
2018-01-04  0.493660 -1.377848 -0.395296 -0.493576 -0.235481
2018-01-05  1.360535  0.290088 -0.127864  0.566142  0.316262
...              ...       ...       ...       ...       ...
2019-08-19  0.079501  1.429234 -1.041582 -1.347752  1.621910
2019-08-20  1.674685 -0.124376  0.075612 -0.943587  0.317172
2019-08-21 -1.755437  0.056148 -1.058439 -0.660788 -1.501945
2019-08-22 -1.393733 -0.635863 -1.100184  1.249372  1.196274
2019-08-23 -0.191604 -0.638118 -0.190181 -0.168849 -1.002880

[600 rows x 5 columns]

In [8]:
df.head(5)

                   A         B         C         D         E
2018-01-01 -1.818994 -0.696158  0.254603  0.558830 -1.252441
2018-01-02 -0.846119  0.659491  1.549177 -1.764346 -2.056687
2018-01-03  0.061135 -0.781849 -0.430414 -0.810437 -0.964928
2018-01-04  0.493660 -1.377848 -0.395296 -0.493576 -0.235481
2018-01-05  1.360535  0.290088 -0.127864  0.566142  0.316262

In [12]:
df['D']

2018-01-01    0.558830
2018-01-02   -1.764346
2018-01-03   -0.810437
2018-01-04   -0.493576
2018-01-05    0.566142
                ...
2019-08-19   -1.347752
2019-08-20   -0.943587
2019-08-21   -0.660788
2019-08-22    1.249372
2019-08-23   -0.168849
Freq: D, Name: D, Length: 600, dtype: float64

In [13]:
df.loc[:,['B','C','D']]

                   B         C         D
2018-01-01 -0.696158  0.254603  0.558830
2018-01-02  0.659491  1.549177 -1.764346
2018-01-03 -0.781849 -0.430414 -0.810437
2018-01-04 -1.377848 -0.395296 -0.493576
2018-01-05  0.290088 -0.127864  0.566142
...              ...       ...       ...
2019-08-19  1.429234 -1.041582 -1.347752
2019-08-20 -0.124376  0.075612 -0.943587
2019-08-21  0.056148 -1.058439 -0.660788
2019-08-22 -0.635863 -1.100184  1.249372
2019-08-23 -0.638118 -0.190181 -0.168849

[600 rows x 3 columns]

In [19]:
df.loc['2018-03-01':'2018-09-17', ['A', 'E']]

                   A         E
2018-03-01  0.386286 -0.354849
2018-03-02 -1.324308  0.631368
2018-03-03  0.762704  0.977815
2018-03-04  0.155928  0.965373
2018-03-05 -1.512424 -0.880991
...              ...       ...
2018-09-13  0.100128  0.571628
2018-09-14 -1.272454 -0.767531
2018-09-15  0.732901  0.127042
2018-09-16  1.108261 -1.120331
2018-09-17 -0.543832  1.285411

[201 rows x 2 columns]

In [24]:
f = df.loc['20180301':'20180917', ['A', 'E']]
f

                   A         E
2018-03-01  0.386286 -0.354849
2018-03-02 -1.324308  0.631368
2018-03-03  0.762704  0.977815
2018-03-04  0.155928  0.965373
2018-03-05 -1.512424 -0.880991
...              ...       ...
2018-09-13  0.100128  0.571628
2018-09-14 -1.272454 -0.767531
2018-09-15  0.732901  0.127042
2018-09-16  1.108261 -1.120331
2018-09-17 -0.543832  1.285411

[201 rows x 2 columns]

In [25]:
len(f)

201