<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/func_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-01-01 -1.008712  2.712248 -0.155546  0.190349 -1.195285
2018-01-02 -0.409441  0.020195  0.401158  0.008779 -0.176525
2018-01-03  0.614444  0.731338 -0.619291 -1.057770 -0.072171
2018-01-04  0.794457  0.762614  0.405896  1.461203  0.554455
2018-01-05 -1.380681  1.351521 -0.935734 -0.205969 -1.227858
...              ...       ...       ...       ...       ...
2019-08-19  1.487844  0.474862  0.016052 -0.816880 -0.170203
2019-08-20  0.181342 -1.941114 -1.931334 -3.030901  0.037689
2019-08-21 -0.180116 -0.424518 -0.113910  0.259051 -1.436326
2019-08-22 -0.401440  1.985563 -0.886794 -0.968988 -0.185511
2019-08-23 -2.072705 -0.305620  0.121083  0.678180  1.795872

[600 rows x 5 columns]

In [5]:
df.iloc[300]

A   -0.378982
B   -0.711396
C    1.128355
D   -1.535934
E    0.324715
Name: 2018-10-28 00:00:00, dtype: float64

In [13]:
df.iloc[2:4, :]

                   A         B         C         D         E
2018-01-03  0.614444  0.731338 -0.619291 -1.057770 -0.072171
2018-01-04  0.794457  0.762614  0.405896  1.461203  0.554455

In [18]:
df.iloc[[0,1,3],[0,3]]

                   A         D
2018-01-01 -1.008712  0.190349
2018-01-02 -0.409441  0.008779
2018-01-04  0.794457  1.461203

In [19]:
df.iloc[1:3, 0:3]

                   A         B         C
2018-01-02 -0.409441  0.020195  0.401158
2018-01-03  0.614444  0.731338 -0.619291