<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/Func_melt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

dados = {'localização': ['cidadeA','CidadeB'],
                 'temperatura': ['prevista', 'atual'],
                  'set-2019': [20,21],
                        'out-2019': [22,24],
                       'nov-2019': [27,26]}

In [15]:
print(dados)

{'localização': ['cidadeA', 'CidadeB'], 'temperatura': ['prevista', 'atual'], 'set-2019': [20, 21], 'out-2019': [22, 24], 'nov-2019': [27, 26]}

In [30]:
df = pd.DataFrame(dados, columns=['localização', 'temperatura', 'set-2019', 'out-2019', 'nov-2019'])
df

  localização temperatura  set-2019  out-2019  nov-2019
0     cidadeA    prevista        20        22        27
1     CidadeB       atual        21        24        26

In [31]:
df2 = pd.melt(df, id_vars=['localização', 'temperatura',], var_name='Mês', value_name='Valor')
df2

  localização temperatura       Mês  Valor
0     cidadeA    prevista  set-2019     20
1     CidadeB       atual  set-2019     21
2     cidadeA    prevista  out-2019     22
3     CidadeB       atual  out-2019     24
4     cidadeA    prevista  nov-2019     27
5     CidadeB       atual  nov-2019     26

In [32]:
df1=pd.DataFrame(dados)
df1

  localização temperatura  set-2019  out-2019  nov-2019
0     cidadeA    prevista        20        22        27
1     CidadeB       atual        21        24        26