<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/limpezadados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [16]:
data = pd.date_range('20200101', periods=6, freq='D')
df = pd.DataFrame(np.random.randn(6,4), index=data, columns=['VAR_A', 'VAR_B', 'VAR_C', 'VAR_D'])
df

               VAR_A     VAR_B     VAR_C     VAR_D
2020-01-01  0.492792 -0.473452 -1.745965 -1.097766
2020-01-02 -2.234643  0.069266  0.454606 -1.436361
2020-01-03  0.234207  1.084610 -1.009276  0.245197
2020-01-04  0.788191 -0.798885  1.292278  1.893570
2020-01-05 -0.290288 -0.562373 -0.355887 -0.811496
2020-01-06  1.476046  0.715958  0.371328  0.937597

In [17]:
df.shape

(6, 4)

In [18]:
df.dtypes

VAR_A    float64
VAR_B    float64
VAR_C    float64
VAR_D    float64
dtype: object

In [15]:
df2 = pd.DataFrame({'A':1., 'B': pd.Timestamp('20130102'),'C':pd.Series(1, index=list(range(4)), dtype='float32'), 
                   'D': np.array([3]*4, dtype='float32'), 'E': pd.Categorical(["teste", "train", "test", "train"]), 'F': "Python"})
df2

     A          B    C    D      E       F
0  1.0 2013-01-02  1.0  3.0  teste  Python
1  1.0 2013-01-02  1.0  3.0  train  Python
2  1.0 2013-01-02  1.0  3.0   test  Python
3  1.0 2013-01-02  1.0  3.0  train  Python

In [19]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D           float32
E          category
F            object
dtype: object

In [20]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [32]:
df1 = df.reindex(index=data[0:4], columns=list(df.columns) + ['VAR_E'])
df1

               VAR_A     VAR_B     VAR_C     VAR_D  VAR_E
2020-01-01  0.492792 -0.473452 -1.745965 -1.097766    NaN
2020-01-02 -2.234643  0.069266  0.454606 -1.436361    NaN
2020-01-03  0.234207  1.084610 -1.009276  0.245197    NaN
2020-01-04  0.788191 -0.798885  1.292278  1.893570    NaN

In [33]:
df1.loc[data[0:2], 'VAR_E'] = 77
df1

               VAR_A     VAR_B     VAR_C     VAR_D  VAR_E
2020-01-01  0.492792 -0.473452 -1.745965 -1.097766   77.0
2020-01-02 -2.234643  0.069266  0.454606 -1.436361   77.0
2020-01-03  0.234207  1.084610 -1.009276  0.245197    NaN
2020-01-04  0.788191 -0.798885  1.292278  1.893570    NaN

In [34]:
df1.describe()

          VAR_A     VAR_B     VAR_C     VAR_D  VAR_E
count  4.000000  4.000000  4.000000  4.000000    2.0
mean  -0.179863 -0.029615 -0.252089 -0.098840   77.0
std    1.388425  0.824629  1.377133  1.513811    0.0
min   -2.234643 -0.798885 -1.745965 -1.436361   77.0
25%   -0.383006 -0.554810 -1.193448 -1.182414   77.0
50%    0.363500 -0.202093 -0.277335 -0.426284   77.0
75%    0.566642  0.323102  0.664024  0.657291   77.0
max    0.788191  1.084610  1.292278  1.893570   77.0

In [35]:
df1.dtypes

VAR_A    float64
VAR_B    float64
VAR_C    float64
VAR_D    float64
VAR_E    float64
dtype: object