<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/missingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import numpy as np

In [56]:
datas = pd.date_range(start='20190101', periods=600, freq='D')

In [57]:
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=['A', 'B', 'C', 'D', 'E'])

In [58]:
df.head()

                   A         B         C         D         E
2019-01-01  3.699469  1.733523  0.744100 -0.752423 -0.238319
2019-01-02  0.144333 -0.908433  1.279571  1.940999 -2.745272
2019-01-03  0.457692 -0.981189  0.394001  2.001653 -0.590068
2019-01-04 -0.311574  0.708045  0.750898  0.564982 -1.054550
2019-01-05 -0.023525  1.394485  0.627552 -0.457919 -0.976462

In [59]:
df.shape

(600, 5)

In [ ]:
df.drop('G', axis=1, inplace=True)

In [60]:
x = df[df['A']>0]
x.head()

                   A         B         C         D         E
2019-01-01  3.699469  1.733523  0.744100 -0.752423 -0.238319
2019-01-02  0.144333 -0.908433  1.279571  1.940999 -2.745272
2019-01-03  0.457692 -0.981189  0.394001  2.001653 -0.590068
2019-01-10  1.433272 -0.398730  0.019400  0.618219  0.097063
2019-01-14  0.783014 -0.404665 -0.652303  1.317917  0.676025

In [34]:
df['F'] = df['A'][df['A']>0]

In [61]:
df['F'] = df.A[df['A']>0]

In [62]:
df.head()

                   A         B         C         D         E         F
2019-01-01  3.699469  1.733523  0.744100 -0.752423 -0.238319  3.699469
2019-01-02  0.144333 -0.908433  1.279571  1.940999 -2.745272  0.144333
2019-01-03  0.457692 -0.981189  0.394001  2.001653 -0.590068  0.457692
2019-01-04 -0.311574  0.708045  0.750898  0.564982 -1.054550       NaN
2019-01-05 -0.023525  1.394485  0.627552 -0.457919 -0.976462       NaN

In [63]:
df.isna().values.any()

True

In [64]:
df.F.isna().values.sum()

324

In [65]:
df1 = df.copy()

In [66]:
df1.describe()

                A           B           C           D           E           F
count  600.000000  600.000000  600.000000  600.000000  600.000000  276.000000
mean    -0.057241    0.004640   -0.054899   -0.000691    0.083719    0.776459
std      0.989323    1.005763    1.014513    0.976701    0.951461    0.636776
min     -3.295144   -2.820999   -2.942785   -2.610345   -2.952274    0.002738
25%     -0.692195   -0.633434   -0.743559   -0.701056   -0.590673    0.284157
50%     -0.083377   -0.050567   -0.035970    0.025519    0.108282    0.656834
75%      0.564444    0.701321    0.617934    0.654886    0.696778    1.072127
max      3.699469    3.270808    3.126770    3.702774    2.729492    3.699469

In [67]:
media = np.mean(df.A)
media

-0.05724102923933575

In [68]:
df1.F.fillna(media, inplace=True)

In [69]:
df1.head()

                   A         B         C         D         E         F
2019-01-01  3.699469  1.733523  0.744100 -0.752423 -0.238319  3.699469
2019-01-02  0.144333 -0.908433  1.279571  1.940999 -2.745272  0.144333
2019-01-03  0.457692 -0.981189  0.394001  2.001653 -0.590068  0.457692
2019-01-04 -0.311574  0.708045  0.750898  0.564982 -1.054550 -0.057241
2019-01-05 -0.023525  1.394485  0.627552 -0.457919 -0.976462 -0.057241

In [70]:
df2=df.copy()

In [71]:
media2 = df.A.mean()
media2

-0.05724102923933575

In [72]:
df2.F.fillna(media2, inplace=True)

In [73]:
df2.head()

                   A         B         C         D         E         F
2019-01-01  3.699469  1.733523  0.744100 -0.752423 -0.238319  3.699469
2019-01-02  0.144333 -0.908433  1.279571  1.940999 -2.745272  0.144333
2019-01-03  0.457692 -0.981189  0.394001  2.001653 -0.590068  0.457692
2019-01-04 -0.311574  0.708045  0.750898  0.564982 -1.054550 -0.057241
2019-01-05 -0.023525  1.394485  0.627552 -0.457919 -0.976462 -0.057241