<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/missingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np

In [24]:
datas = pd.date_range(start='20190101', periods=600, freq='D')

In [25]:
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=['A', 'B', 'C', 'D', 'E'])

In [26]:
df.head()

                   A         B         C         D         E
2019-01-01  0.158575  0.529339  0.637319 -0.527648  0.235767
2019-01-02 -1.586806 -0.490465 -0.753702 -0.108425 -0.729520
2019-01-03 -0.414588  0.333045 -0.549956 -1.990995 -0.599556
2019-01-04 -1.104215  1.801677 -0.460307 -1.357836  0.240359
2019-01-05 -0.393575  1.043599  1.234500  0.193388  1.405232

In [27]:
df.shape

(600, 5)

In [ ]:
df.drop('G', axis=1, inplace=True)

In [34]:
df['F'] = df['A'][df['A']>0]

In [29]:
df['F'] = df.A[df['A']>0]

In [35]:
df.head()

                   A         B         C         D         E         F
2019-01-01  0.158575  0.529339  0.637319 -0.527648  0.235767  0.158575
2019-01-02 -1.586806 -0.490465 -0.753702 -0.108425 -0.729520       NaN
2019-01-03 -0.414588  0.333045 -0.549956 -1.990995 -0.599556       NaN
2019-01-04 -1.104215  1.801677 -0.460307 -1.357836  0.240359       NaN
2019-01-05 -0.393575  1.043599  1.234500  0.193388  1.405232       NaN

In [37]:
df.isna().values.any()

True

In [38]:
df.F.isna().values.sum()

295

In [39]:
df1 = df.copy()

In [40]:
df1.describe()

                A           B           C           D           E           F
count  600.000000  600.000000  600.000000  600.000000  600.000000  305.000000
mean     0.009109   -0.025885   -0.063248   -0.043832    0.089356    0.801438
std      1.027130    0.986008    0.957994    1.045184    1.031447    0.648688
min     -3.090493   -3.080851   -3.265230   -2.975336   -3.004294    0.002238
25%     -0.657630   -0.621030   -0.735823   -0.704503   -0.599777    0.314275
50%      0.019233   -0.003983   -0.083351    0.002866    0.107928    0.599687
75%      0.609328    0.607065    0.547884    0.638729    0.837698    1.173253
max      3.146576    3.550295    3.848935    3.471660    2.959418    3.146576

In [42]:
media = np.mean(df.A)
media

0.009109100344352514

In [43]:
df1.F.fillna(media, inplace=True)

In [44]:
df1.head()

                   A         B         C         D         E         F
2019-01-01  0.158575  0.529339  0.637319 -0.527648  0.235767  0.158575
2019-01-02 -1.586806 -0.490465 -0.753702 -0.108425 -0.729520  0.009109
2019-01-03 -0.414588  0.333045 -0.549956 -1.990995 -0.599556  0.009109
2019-01-04 -1.104215  1.801677 -0.460307 -1.357836  0.240359  0.009109
2019-01-05 -0.393575  1.043599  1.234500  0.193388  1.405232  0.009109

In [45]:
df2=df.copy()

In [46]:
media2 = df.A.mean()
media2

0.009109100344352514

In [47]:
df2.F.fillna(media2, inplace=True)

In [48]:
df2.head()

                   A         B         C         D         E         F
2019-01-01  0.158575  0.529339  0.637319 -0.527648  0.235767  0.158575
2019-01-02 -1.586806 -0.490465 -0.753702 -0.108425 -0.729520  0.009109
2019-01-03 -0.414588  0.333045 -0.549956 -1.990995 -0.599556  0.009109
2019-01-04 -1.104215  1.801677 -0.460307 -1.357836  0.240359  0.009109
2019-01-05 -0.393575  1.043599  1.234500  0.193388  1.405232  0.009109