<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/missingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range(start='20190101', periods=600, freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=['A', 'B', 'C', 'D', 'E'])

In [7]:
df.head()

                   A         B         C         D         E
2019-01-01  0.443165  0.584544  0.588418  0.653699 -1.892572
2019-01-02  1.207344  0.966969 -1.486634  0.000946  0.637570
2019-01-03  0.378678  1.524972 -0.095403  1.061709  1.053982
2019-01-04 -0.453298  0.370638  0.007065 -0.860936 -0.945624
2019-01-05  1.181019  0.121031  1.233345  1.053594  2.649793