<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/missingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range(start='20190101', periods=600, freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=['A', 'B', 'C', 'D', 'E'])

In [7]:
df.head()

                   A         B         C         D         E
2019-01-01  0.443165  0.584544  0.588418  0.653699 -1.892572
2019-01-02  1.207344  0.966969 -1.486634  0.000946  0.637570
2019-01-03  0.378678  1.524972 -0.095403  1.061709  1.053982
2019-01-04 -0.453298  0.370638  0.007065 -0.860936 -0.945624
2019-01-05  1.181019  0.121031  1.233345  1.053594  2.649793

In [18]:
df.shape

(600, 6)

In [12]:
df['F'] = df[df['A']>0]

In [19]:
df.isna().values.any()

True

In [16]:
df.isna().values.sum()

317

In [20]:
df1 = df.copy()

In [23]:
df1.describe()

                A           B           C           D           E           F
count  600.000000  600.000000  600.000000  600.000000  600.000000  283.000000
mean    -0.082778   -0.018289    0.034414   -0.048761    0.045082    0.775670
std      1.010447    0.983074    0.960552    1.005999    1.016518    0.548766
min     -3.485696   -3.122742   -2.818142   -3.007157   -3.035887    0.007560
25%     -0.738789   -0.638722   -0.600418   -0.703468   -0.674047    0.336917
50%     -0.097517    0.025624    0.014467   -0.072516    0.127042    0.694236
75%      0.642529    0.628375    0.695319    0.653753    0.705928    1.143332
max      3.024288    2.978364    2.744976    3.273860    2.989437    3.024288

In [34]:
media = np.mean(df.A)
media

-0.08277785445642033

In [39]:
df1.F.fillna(media, inplace=True)

In [40]:
df1.head()

                   A         B         C         D         E         F
2019-01-01  0.443165  0.584544  0.588418  0.653699 -1.892572  0.443165
2019-01-02  1.207344  0.966969 -1.486634  0.000946  0.637570  1.207344
2019-01-03  0.378678  1.524972 -0.095403  1.061709  1.053982  0.378678
2019-01-04 -0.453298  0.370638  0.007065 -0.860936 -0.945624 -0.082778
2019-01-05  1.181019  0.121031  1.233345  1.053594  2.649793  1.181019

In [43]:
df2=df.copy()

In [45]:
media2 = df.A.mean()
media2

-0.08277785445642033

In [46]:
df2.F.fillna(media2, inplace=True)

In [47]:
df2.head()

                   A         B         C         D         E         F
2019-01-01  0.443165  0.584544  0.588418  0.653699 -1.892572  0.443165
2019-01-02  1.207344  0.966969 -1.486634  0.000946  0.637570  1.207344
2019-01-03  0.378678  1.524972 -0.095403  1.061709  1.053982  0.378678
2019-01-04 -0.453298  0.370638  0.007065 -0.860936 -0.945624 -0.082778
2019-01-05  1.181019  0.121031  1.233345  1.053594  2.649793  1.181019

In [44]:
df2.head()

                   A         B         C         D         E         F
2019-01-01  0.443165  0.584544  0.588418  0.653699 -1.892572  0.443165
2019-01-02  1.207344  0.966969 -1.486634  0.000946  0.637570  1.207344
2019-01-03  0.378678  1.524972 -0.095403  1.061709  1.053982  0.378678
2019-01-04 -0.453298  0.370638  0.007065 -0.860936 -0.945624       NaN
2019-01-05  1.181019  0.121031  1.233345  1.053594  2.649793  1.181019