<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/Nobel_Prize_Analysis_(start).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup and Context

### Introduction

On November 27, 1895, Alfred Nobel signed his last will in Paris. When it was opened after his death, the will caused a lot of controversy, as Nobel had left much of his wealth for the establishment of a prize.

Alfred Nobel dictates that his entire remaining estate should be used to endow “prizes to those who, during the preceding year, have conferred the greatest benefit to humankind”.

Every year the Nobel Prize is given to scientists and scholars in the categories chemistry, literature, physics, physiology or medicine, economics, and peace. 

<img src=https://i.imgur.com/36pCx5Q.jpg>

Let's see what patterns we can find in the data of the past Nobel laureates. What can we learn about the Nobel prize and our world more generally?

### Upgrade plotly (only Google Colab Notebook)

Google Colab may not be running the latest version of plotly. If you're working in Google Colab, uncomment the line below, run the cell, and restart your notebook server.

In [1]:
%pip install --upgrade plotly

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/95/8d/ac1560f7ccc2ace85cd1e9619bbec1975b5d2d92e6c6fdbbdaa994c6ab4d/plotly-5.1.0-py2.py3-none-any.whl (20.6MB)
     |████████████████████████████████| 20.6MB 1.6MB/s
Collecting tenacity>=6.2.0
  Downloading https://files.pythonhosted.org/packages/d8/f7/dcafcff418087f0f3de47431ef7504efd11a585086419ce1872af9bdf2a7/tenacity-8.0.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-5.1.0 tenacity-8.0.0

### Import Statements

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt

### Notebook Presentation

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

### Read the Data

In [3]:
df_data = pd.read_csv('nobel_prize_data.csv')

Caveats: The exact birth dates for Michael Houghton, Venkatraman Ramakrishnan, and Nadia Murad are unknown. I've substituted them with mid-year estimate of July 2nd.

# Data Exploration & Cleaning

**Challenge**: Preliminary data exploration. 
* What is the shape of `df_data`? How many rows and columns?
* What are the column names?
* In which year was the Nobel prize first awarded?
* Which year is the latest year included in the dataset?

In [4]:
df_data.head()

   year    category  ... organization_country  ISO
0  1901   Chemistry  ...              Germany  NLD
1  1901  Literature  ...                  NaN  FRA
2  1901    Medicine  ...              Germany  POL
3  1901       Peace  ...                  NaN  FRA
4  1901       Peace  ...                  NaN  CHE

[5 rows x 16 columns]

In [5]:
df_data.shape

(962, 16)

In [6]:
df_data.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'birth_country_current', 'sex', 'organization_name',
       'organization_city', 'organization_country', 'ISO'],
      dtype='object')

In [7]:
df_data.describe()

          year
count   962.00
mean  1,971.82
std      33.81
min   1,901.00
25%   1,948.00
50%   1,977.00
75%   2,001.00
max   2,020.00

**Challange**: 
* Are there any duplicate values in the dataset?
* Are there NaN values in the dataset?
* Which columns tend to have NaN values?
* How many NaN values are there per column? 
* Why do these columns have NaN values?

### Check for Duplicates

In [8]:
df_data.duplicated().values.any()

False

### Check for NaN Values

In [9]:
df_data.isna().values.any()

True

In [10]:
df_data.isna().sum()

year                       0
category                   0
prize                      0
motivation                88
prize_share                0
laureate_type              0
full_name                  0
birth_date                28
birth_city                31
birth_country             28
birth_country_current     28
sex                       28
organization_name        255
organization_city        255
organization_country     254
ISO                       28
dtype: int64

In [11]:
col_subset = ['year','category', 'laureate_type', 'birth_date','full_name', 'organization_name']
df_data.loc[df_data.birth_date.isna()][col_subset]

     year  ... organization_name
24   1904  ...               NaN
60   1910  ...               NaN
89   1917  ...               NaN
200  1938  ...               NaN
215  1944  ...               NaN
237  1947  ...               NaN
238  1947  ...               NaN
283  1954  ...               NaN
348  1963  ...               NaN
349  1963  ...               NaN
366  1965  ...               NaN
399  1969  ...               NaN
479  1977  ...               NaN
523  1981  ...               NaN
558  1985  ...               NaN
588  1988  ...               NaN
659  1995  ...               NaN
682  1997  ...               NaN
703  1999  ...               NaN
730  2001  ...               NaN
778  2005  ...               NaN
788  2006  ...               NaN
801  2007  ...               NaN
860  2012  ...               NaN
873  2013  ...               NaN
897  2015  ...               NaN
919  2017  ...               NaN
958  2020  ...               NaN

[28 rows x 6 columns]

In [12]:
col_subset1 = ['year','category', 'laureate_type','full_name', 'organization_name']
df_data.loc[df_data.organization_name.isna(), col_subset1]

     year    category  ...                           full_name organization_name
1    1901  Literature  ...                     Sully Prudhomme               NaN
3    1901       Peace  ...                      Frédéric Passy               NaN
4    1901       Peace  ...                   Jean Henry Dunant               NaN
7    1902  Literature  ...  Christian Matthias Theodor Mommsen               NaN
9    1902       Peace  ...                Charles Albert Gobat               NaN
..    ...         ...  ...                                 ...               ...
932  2018       Peace  ...                         Nadia Murad               NaN
942  2019  Literature  ...                        Peter Handke               NaN
946  2019       Peace  ...                      Abiy Ahmed Ali               NaN
954  2020  Literature  ...                        Louise Glück               NaN
958  2020       Peace  ...          World Food Programme (WFP)               NaN

[255 rows x 5 columns]

In [13]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   962 non-null    int64
 1   category               962 non-null    object
 2   prize                  962 non-null    object
 3   motivation             874 non-null    object
 4   prize_share            962 non-null    object
 5   laureate_type          962 non-null    object
 6   full_name              962 non-null    object
 7   birth_date             934 non-null    object
 8   birth_city             931 non-null    object
 9   birth_country          934 non-null    object
 10  birth_country_current  934 non-null    object
 11  sex                    934 non-null    object
 12  organization_name      707 non-null    object
 13  organization_city      707 non-null    object
 14  organization_country   708 non-null    object
 15  ISO                    934 non-null    object
dtypes: int64(1), object(15)
memory usage: 120.4+ KB

### Type Conversions

**Challenge**: 
* Convert the `birth_date` column to Pandas `Datetime` objects
* Add a Column called `share_pct` which has the laureates' share as a percentage in the form of a floating-point number.

#### Convert Year and Birth Date to Datetime

In [15]:
df_data.birth_date = pd.to_datetime(df_data.birth_date)

In [16]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   962 non-null    int64
 1   category               962 non-null    object
 2   prize                  962 non-null    object
 3   motivation             874 non-null    object
 4   prize_share            962 non-null    object
 5   laureate_type          962 non-null    object
 6   full_name              962 non-null    object
 7   birth_date             934 non-null    datetime64[ns]
 8   birth_city             931 non-null    object
 9   birth_country          934 non-null    object
 10  birth_country_current  934 non-null    object
 11  sex                    934 non-null    object
 12  organization_name      707 non-null    object
 13  organization_city      707 non-null    object
 14  organization_country   708 non-null    object
 15  ISO                    934 non-null    object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 120.4+ KB

#### Add a Column with the Prize Share as a Percentage

In [17]:
separeted_values = df_data.prize_share.str.split('/', expand=True)
separeted_values.head()

   0  1
0  1  1
1  1  1
2  1  1
3  1  2
4  1  2

In [18]:
separeted_values2 = df_data.prize_share.str.split('/')
separeted_values2

0      [1, 1]
1      [1, 1]
2      [1, 1]
3      [1, 2]
4      [1, 2]
        ...
957    [1, 3]
958    [1, 1]
959    [1, 4]
960    [1, 4]
961    [1, 2]
Name: prize_share, Length: 962, dtype: object

In [22]:
numerador = pd.to_numeric(separeted_values[0])
denominador = pd.to_numeric(separeted_values[1])

In [23]:
df_data['share_pct'] = numerador/denominador

In [24]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   962 non-null    int64
 1   category               962 non-null    object
 2   prize                  962 non-null    object
 3   motivation             874 non-null    object
 4   prize_share            962 non-null    object
 5   laureate_type          962 non-null    object
 6   full_name              962 non-null    object
 7   birth_date             934 non-null    datetime64[ns]
 8   birth_city             931 non-null    object
 9   birth_country          934 non-null    object
 10  birth_country_current  934 non-null    object
 11  sex                    934 non-null    object
 12  organization_name      707 non-null    object
 13  organization_city      707 non-null    object
 14  organization_country   708 non-null    object
 15  ISO                    934 non-null    object
 16  share_pct              962 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 127.9+ KB

# Plotly Donut Chart: Percentage of Male vs. Female Laureates

**Challenge**: Create a [donut chart using plotly](https://plotly.com/python/pie-charts/) which shows how many prizes went to men compared to how many prizes went to women. What percentage of all the prizes went to women?

In [25]:
df_data.head(2)

   year    category  ...  ISO share_pct
0  1901   Chemistry  ...  NLD      1.00
1  1901  Literature  ...  FRA      1.00

[2 rows x 17 columns]

In [26]:
donut_chart = df_data.sex.value_counts()
donut_chart

Male      876
Female     58
Name: sex, dtype: int64

In [27]:
fig = px.pie(labels=donut_chart.index, 
             values=donut_chart.values,
             title='Percentage of Male vs. Female Laureates',
             names=donut_chart.index,
             hole=0.4)
fig.update_traces(textposition='inside', textinfo='percent+label', textfont_size=15)
fig.show()

# Who were the first 3 Women to Win the Nobel Prize?

**Challenge**: 
* What are the names of the first 3 female Nobel laureates? 
* What did the win the prize for? 
* What do you see in their `birth_country`? Were they part of an organisation?

In [28]:
df_women = df_data[df_data['sex'] == 'Female']
df_women.head(3)

    year    category  ...  ISO share_pct
18  1903     Physics  ...  POL      0.25
29  1905       Peace  ...  CZE      1.00
51  1909  Literature  ...  SWE      1.00

[3 rows x 17 columns]

In [29]:
df_women.loc[:, ['full_name']].head(3)

                                            full_name
18                        Marie Curie, née Sklodowska
29  Baroness Bertha Sophie Felicita von Suttner, n...
51                      Selma Ottilia Lovisa Lagerlöf

In [30]:
df_women['prize'][18]

'The Nobel Prize in Physics 1903'

In [31]:
df_women['birth_country'][18]

'Russian Empire (Poland)'

# Find the Repeat Winners

**Challenge**: Did some people get a Nobel Prize more than once? If so, who were they?

In [32]:
is_winner = df_data.duplicated(subset=['full_name'], keep=False)

In [33]:
is_winner

0      False
1      False
2      False
3      False
4      False
       ...
957    False
958    False
959    False
960    False
961    False
Length: 962, dtype: bool

In [34]:
is_winner.describe()

count       962
unique        2
top       False
freq        949
dtype: object

In [37]:
multiple_winners = df_data[is_winner]
print(multiple_winners.shape)
multiple_winners.head()

(13, 17)

     year   category  ...  ISO share_pct
18   1903    Physics  ...  POL      0.25
62   1911  Chemistry  ...  POL      1.00
89   1917      Peace  ...  NaN      1.00
215  1944      Peace  ...  NaN      1.00
278  1954  Chemistry  ...  USA      1.00

[5 rows x 17 columns]

In [36]:
multiple_winners2 = df_data[is_winner == False]
print(multiple_winners2.shape)
multiple_winners2.head()

(949, 17)

   year    category  ...  ISO share_pct
0  1901   Chemistry  ...  NLD      1.00
1  1901  Literature  ...  FRA      1.00
2  1901    Medicine  ...  POL      1.00
3  1901       Peace  ...  FRA      0.50
4  1901       Peace  ...  CHE      0.50

[5 rows x 17 columns]

In [53]:
multiple_winners.full_name.nunique()

6

In [38]:
    col_subset = ['year', 'category', 'laureate_type', 'full_name']
    multiple_winners[col_subset]

     year  ...                                          full_name
18   1903  ...                        Marie Curie, née Sklodowska
62   1911  ...                        Marie Curie, née Sklodowska
89   1917  ...  Comité international de la Croix Rouge (Intern...
215  1944  ...  Comité international de la Croix Rouge (Intern...
278  1954  ...                                 Linus Carl Pauling
283  1954  ...  Office of the United Nations High Commissioner...
297  1956  ...                                       John Bardeen
306  1958  ...                                   Frederick Sanger
340  1962  ...                                 Linus Carl Pauling
348  1963  ...  Comité international de la Croix Rouge (Intern...
424  1972  ...                                       John Bardeen
505  1980  ...                                   Frederick Sanger
523  1981  ...  Office of the United Nations High Commissioner...

[13 rows x 4 columns]

# Number of Prizes per Category

**Challenge**: 
* In how many categories are prizes awarded? 
* Create a plotly bar chart with the number of prizes awarded by category. 
* Use the color scale called `Aggrnyl` to colour the chart, but don't show a color axis.
* Which category has the most number of prizes awarded? 
* Which category has the fewest number of prizes awarded?

In [39]:
df_data.category.nunique()

6

**Challenge**: 
* When was the first prize in the field of Economics awarded?
* Who did the prize go to?

# Male and Female Winners by Category

**Challenge**: Create a [plotly bar chart](https://plotly.com/python/bar-charts/) that shows the split between men and women by category. 
* Hover over the bar chart. How many prizes went to women in Literature compared to Physics?

<img src=https://i.imgur.com/od8TfOp.png width=650>

# Number of Prizes Awarded Over Time

**Challenge**: Are more prizes awarded recently than when the prize was first created? Show the trend in awards visually. 
* Count the number of prizes awarded every year. 
* Create a 5 year rolling average of the number of prizes (Hint: see previous lessons analysing Google Trends).
* Using Matplotlib superimpose the rolling average on a scatter plot.
* Show a tick mark on the x-axis for every 5 years from 1900 to 2020. (Hint: you'll need to use NumPy). 

<img src=https://i.imgur.com/4jqYuWC.png width=650>

* Use the [named colours](https://matplotlib.org/3.1.0/gallery/color/named_colors.html) to draw the data points in `dogerblue` while the rolling average is coloured in `crimson`. 

<img src=https://i.imgur.com/u3RlcJn.png width=350>

* Looking at the chart, did the first and second world wars have an impact on the number of prizes being given out? 
* What could be the reason for the trend in the chart?

# Are More Prizes Shared Than Before?

**Challenge**: Investigate if more prizes are shared than before. 

* Calculate the average prize share of the winners on a year by year basis.
* Calculate the 5 year rolling average of the percentage share.
* Copy-paste the cell from the chart you created above.
* Modify the code to add a secondary axis to your Matplotlib chart.
* Plot the rolling average of the prize share on this chart. 
* See if you can invert the secondary y-axis to make the relationship even more clear.

# The Countries with the Most Nobel Prizes

**Challenge**: 
* Create a Pandas DataFrame called `top20_countries` that has the two columns. The `prize` column should contain the total number of prizes won. 

<img src=https://i.imgur.com/6HM8rfB.png width=350>

* Is it best to use `birth_country`, `birth_country_current` or `organization_country`? 
* What are some potential problems when using `birth_country` or any of the others? Which column is the least problematic? 
* Then use plotly to create a horizontal bar chart showing the number of prizes won by each country. Here's what you're after:

<img src=https://i.imgur.com/agcJdRS.png width=750>

* What is the ranking for the top 20 countries in terms of the number of prizes?

# Use a Choropleth Map to Show the Number of Prizes Won by Country

* Create this choropleth map using [the plotly documentation](https://plotly.com/python/choropleth-maps/):

<img src=https://i.imgur.com/s4lqYZH.png>

* Experiment with [plotly's available colours](https://plotly.com/python/builtin-colorscales/). I quite like the sequential colour `matter` on this map. 

Hint: You'll need to use a 3 letter country code for each country.

# In Which Categories are the Different Countries Winning Prizes? 

**Challenge**: See if you can divide up the plotly bar chart you created above to show the which categories made up the total number of prizes. Here's what you're aiming for:

<img src=https://i.imgur.com/iGaIKCL.png>

* In which category are Germany and Japan the weakest compared to the United States?
* In which category does Germany have more prizes than the UK?
* In which categories does France have more prizes than Germany?
* Which category makes up most of Australia's nobel prizes?
* Which category makes up half of the prizes in the Netherlands?
* Does the United States have more prizes in Economics than all of France? What about in Physics or Medicine?


The hard part is preparing the data for this chart! 


*Hint*: Take a two-step approach. The first step is grouping the data by country and category. Then you can create a DataFrame that looks something like this:

<img src=https://i.imgur.com/VKjzKa1.png width=450>

### Number of Prizes Won by Each Country Over Time

* When did the United States eclipse every other country in terms of the number of prizes won? 
* Which country or countries were leading previously?
* Calculate the cumulative number of prizes won by each country in every year. Again, use the `birth_country_current` of the winner to calculate this. 
* Create a [plotly line chart](https://plotly.com/python/line-charts/) where each country is a coloured line.

# What are the Top Research Organisations?

**Challenge**: Create a bar chart showing the organisations affiliated with the Nobel laureates. It should looks something like this:

<img src=https://i.imgur.com/zZihj2p.png width=600>

* Which organisations make up the top 20?
* How many Nobel prize winners are affiliated with the University of Chicago and Harvard University?

# Which Cities Make the Most Discoveries? 

Where do major discoveries take place?  

**Challenge**: 
* Create another plotly bar chart graphing the top 20 organisation cities of the research institutions associated with a Nobel laureate. 
* Where is the number one hotspot for discoveries in the world?
* Which city in Europe has had the most discoveries?

# Where are Nobel Laureates Born? Chart the Laureate Birth Cities 

**Challenge**: 
* Create a plotly bar chart graphing the top 20 birth cities of Nobel laureates. 
* Use a named colour scale called `Plasma` for the chart.
* What percentage of the United States prizes came from Nobel laureates born in New York? 
* How many Nobel laureates were born in London, Paris and Vienna? 
* Out of the top 5 cities, how many are in the United States?

# Plotly Sunburst Chart: Combine Country, City, and Organisation

**Challenge**: 

* Create a DataFrame that groups the number of prizes by organisation. 
* Then use the [plotly documentation to create a sunburst chart](https://plotly.com/python/sunburst-charts/)
* Click around in your chart, what do you notice about Germany and France? 


Here's what you're aiming for:

<img src=https://i.imgur.com/cemX4m5.png width=300>

# Patterns in the Laureate Age at the Time of the Award

How Old Are the Laureates When the Win the Prize?

**Challenge**: Calculate the age of the laureate in the year of the ceremony and add this as a column called `winning_age` to the `df_data` DataFrame. Hint: you can use [this](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to help you.

### Who were the oldest and youngest winners?

**Challenge**: 
* What are the names of the youngest and oldest Nobel laureate? 
* What did they win the prize for?
* What is the average age of a winner?
* 75% of laureates are younger than what age when they receive the prize?
* Use Seaborn to [create histogram](https://seaborn.pydata.org/generated/seaborn.histplot.html) to visualise the distribution of laureate age at the time of winning. Experiment with the number of `bins` to see how the visualisation changes.

### Descriptive Statistics for the Laureate Age at Time of Award

* Calculate the descriptive statistics for the age at the time of the award. 
* Then visualise the distribution in the form of a histogram using [Seaborn's .histplot() function](https://seaborn.pydata.org/generated/seaborn.histplot.html).
* Experiment with the `bin` size. Try 10, 20, 30, and 50.

### Age at Time of Award throughout History

Are Nobel laureates being nominated later in life than before? Have the ages of laureates at the time of the award increased or decreased over time?

**Challenge**

* Use Seaborn to [create a .regplot](https://seaborn.pydata.org/generated/seaborn.regplot.html?highlight=regplot#seaborn.regplot) with a trendline.
* Set the `lowess` parameter to `True` to show a moving average of the linear fit.
* According to the best fit line, how old were Nobel laureates in the years 1900-1940 when they were awarded the prize?
* According to the best fit line, what age would it predict for a Nobel laureate in 2020?

### Winning Age Across the Nobel Prize Categories

How does the age of laureates vary by category? 

* Use Seaborn's [`.boxplot()`](https://seaborn.pydata.org/generated/seaborn.boxplot.html?highlight=boxplot#seaborn.boxplot) to show how the mean, quartiles, max, and minimum values vary across categories. Which category has the longest "whiskers"? 
* In which prize category are the average winners the oldest?
* In which prize category are the average winners the youngest?

**Challenge**
* Now use Seaborn's [`.lmplot()`](https://seaborn.pydata.org/generated/seaborn.lmplot.html?highlight=lmplot#seaborn.lmplot) and the `row` parameter to create 6 separate charts for each prize category. Again set `lowess` to `True`.
* What are the winning age trends in each category? 
* Which category has the age trending up and which category has the age trending down? 
* Is this `.lmplot()` telling a different story from the `.boxplot()`?
* Create another chart with Seaborn. This time use `.lmplot()` to put all 6 categories on the same chart using the `hue` parameter.