<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/selecaodados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-01-01 -0.346749 -0.097457  0.096359 -0.149808  1.471005
2018-01-02 -0.218616 -0.282962 -0.324782  0.659920  2.222398
2018-01-03  0.896503  0.902171  0.368300  1.683701 -0.151600
2018-01-04 -1.916025 -1.127060  1.935409 -1.111933 -0.498792
2018-01-05 -0.010330  0.527962  2.187955  0.858488 -0.419710
...              ...       ...       ...       ...       ...
2019-08-19  0.996152  0.075306  0.033189  1.018562 -1.738952
2019-08-20  0.585255  0.120474 -0.742510  1.036941  1.823700
2019-08-21  0.145536  0.904876  0.398975  1.418402 -1.401261
2019-08-22 -1.453797  0.058119 -0.383167  0.713606  1.096765
2019-08-23 -0.585199  0.206077  1.231072 -1.839117 -1.359470

[600 rows x 5 columns]

In [4]:
df.head(3)

                   A         B         C         D         E
2018-01-01 -0.346749 -0.097457  0.096359 -0.149808  1.471005
2018-01-02 -0.218616 -0.282962 -0.324782  0.659920  2.222398
2018-01-03  0.896503  0.902171  0.368300  1.683701 -0.151600

In [5]:
df.A

2018-01-01   -0.346749
2018-01-02   -0.218616
2018-01-03    0.896503
2018-01-04   -1.916025
2018-01-05   -0.010330
                ...
2019-08-19    0.996152
2019-08-20    0.585255
2019-08-21    0.145536
2019-08-22   -1.453797
2019-08-23   -0.585199
Freq: D, Name: A, Length: 600, dtype: float64

In [6]:
df['A']

2018-01-01   -0.346749
2018-01-02   -0.218616
2018-01-03    0.896503
2018-01-04   -1.916025
2018-01-05   -0.010330
                ...
2019-08-19    0.996152
2019-08-20    0.585255
2019-08-21    0.145536
2019-08-22   -1.453797
2019-08-23   -0.585199
Freq: D, Name: A, Length: 600, dtype: float64

In [7]:
df[df.A > 0]

                   A         B         C         D         E
2018-01-03  0.896503  0.902171  0.368300  1.683701 -0.151600
2018-01-07  0.521175  0.353526  0.376976  0.855876  2.656711
2018-01-08  0.606770  0.580442  0.670965 -0.711993  0.104950
2018-01-11  1.110848 -0.454045  1.352475  0.840817  0.166407
2018-01-12  0.448975  0.815244  0.975910 -0.137743 -0.588520
...              ...       ...       ...       ...       ...
2019-08-11  0.517886  2.005052 -0.460190 -0.203560 -1.299255
2019-08-16  0.439134 -0.011300 -0.900984  0.295558  0.273429
2019-08-19  0.996152  0.075306  0.033189  1.018562 -1.738952
2019-08-20  0.585255  0.120474 -0.742510  1.036941  1.823700
2019-08-21  0.145536  0.904876  0.398975  1.418402 -1.401261

[295 rows x 5 columns]

In [8]:
df[df>0]

                   A         B         C         D         E
2018-01-01       NaN       NaN  0.096359       NaN  1.471005
2018-01-02       NaN       NaN       NaN  0.659920  2.222398
2018-01-03  0.896503  0.902171  0.368300  1.683701       NaN
2018-01-04       NaN       NaN  1.935409       NaN       NaN
2018-01-05       NaN  0.527962  2.187955  0.858488       NaN
...              ...       ...       ...       ...       ...
2019-08-19  0.996152  0.075306  0.033189  1.018562       NaN
2019-08-20  0.585255  0.120474       NaN  1.036941  1.823700
2019-08-21  0.145536  0.904876  0.398975  1.418402       NaN
2019-08-22       NaN  0.058119       NaN  0.713606  1.096765
2019-08-23       NaN  0.206077  1.231072       NaN       NaN

[600 rows x 5 columns]

In [9]:
df[df['A']>0]

                   A         B         C         D         E
2018-01-03  0.896503  0.902171  0.368300  1.683701 -0.151600
2018-01-07  0.521175  0.353526  0.376976  0.855876  2.656711
2018-01-08  0.606770  0.580442  0.670965 -0.711993  0.104950
2018-01-11  1.110848 -0.454045  1.352475  0.840817  0.166407
2018-01-12  0.448975  0.815244  0.975910 -0.137743 -0.588520
...              ...       ...       ...       ...       ...
2019-08-11  0.517886  2.005052 -0.460190 -0.203560 -1.299255
2019-08-16  0.439134 -0.011300 -0.900984  0.295558  0.273429
2019-08-19  0.996152  0.075306  0.033189  1.018562 -1.738952
2019-08-20  0.585255  0.120474 -0.742510  1.036941  1.823700
2019-08-21  0.145536  0.904876  0.398975  1.418402 -1.401261

[295 rows x 5 columns]

In [10]:
df[df.A<0]

                   A         B         C         D         E
2018-01-01 -0.346749 -0.097457  0.096359 -0.149808  1.471005
2018-01-02 -0.218616 -0.282962 -0.324782  0.659920  2.222398
2018-01-04 -1.916025 -1.127060  1.935409 -1.111933 -0.498792
2018-01-05 -0.010330  0.527962  2.187955  0.858488 -0.419710
2018-01-06 -0.150611  0.575534 -0.156360  0.258620  0.360623
...              ...       ...       ...       ...       ...
2019-08-15 -1.113251 -0.043717  0.231199 -0.150692  0.138627
2019-08-17 -0.683753 -0.854976 -0.584653 -0.077833 -0.384451
2019-08-18 -0.910446 -0.619110  1.707111  0.140404 -0.748545
2019-08-22 -1.453797  0.058119 -0.383167  0.713606  1.096765
2019-08-23 -0.585199  0.206077  1.231072 -1.839117 -1.359470

[305 rows x 5 columns]