<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/selecaodados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600,5), index=datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2018-01-01  0.458124  0.361048  0.386060  0.822860 -0.389255
2018-01-02  1.278400  1.126669  1.013607  0.248934  0.861098
2018-01-03 -1.005659  0.700388 -0.763603  0.489520 -1.175480
2018-01-04 -0.652949  1.510817  1.129974  0.774839 -0.852035
2018-01-05 -0.866456 -1.000208 -0.469687  0.929202  1.102482
...              ...       ...       ...       ...       ...
2019-08-19  1.685950 -0.110865 -0.469234  0.601667 -0.061678
2019-08-20 -0.364027 -1.326998 -0.258041  0.988451 -0.942026
2019-08-21  0.952091 -0.436621 -0.402050  0.861342  0.619983
2019-08-22  1.056717  0.515100 -2.015348  0.021585 -1.228765
2019-08-23 -2.147331 -1.152916  1.613323 -0.664244 -0.684208

[600 rows x 5 columns]

In [5]:
df.head(3)

                   A         B         C         D         E
2018-01-01  0.458124  0.361048  0.386060  0.822860 -0.389255
2018-01-02  1.278400  1.126669  1.013607  0.248934  0.861098
2018-01-03 -1.005659  0.700388 -0.763603  0.489520 -1.175480

In [6]:
df.A

2018-01-01    0.458124
2018-01-02    1.278400
2018-01-03   -1.005659
2018-01-04   -0.652949
2018-01-05   -0.866456
                ...
2019-08-19    1.685950
2019-08-20   -0.364027
2019-08-21    0.952091
2019-08-22    1.056717
2019-08-23   -2.147331
Freq: D, Name: A, Length: 600, dtype: float64

In [7]:
df['A']

2018-01-01    0.458124
2018-01-02    1.278400
2018-01-03   -1.005659
2018-01-04   -0.652949
2018-01-05   -0.866456
                ...
2019-08-19    1.685950
2019-08-20   -0.364027
2019-08-21    0.952091
2019-08-22    1.056717
2019-08-23   -2.147331
Freq: D, Name: A, Length: 600, dtype: float64

In [8]:
df[df.A > 0]

                   A         B         C         D         E
2018-01-01  0.458124  0.361048  0.386060  0.822860 -0.389255
2018-01-02  1.278400  1.126669  1.013607  0.248934  0.861098
2018-01-07  1.135040  1.278587  0.420068 -0.027265  0.937843
2018-01-10  1.706402  0.176086 -1.284193  1.104700  0.618488
2018-01-16  1.248448  0.249784  1.557056 -2.376137 -1.323134
...              ...       ...       ...       ...       ...
2019-08-17  0.131663 -0.476446 -0.298875  1.786343  0.019506
2019-08-18  0.463030 -0.607038  0.941854  0.480105  1.040657
2019-08-19  1.685950 -0.110865 -0.469234  0.601667 -0.061678
2019-08-21  0.952091 -0.436621 -0.402050  0.861342  0.619983
2019-08-22  1.056717  0.515100 -2.015348  0.021585 -1.228765

[303 rows x 5 columns]

In [11]:
df[df>0]

                   A         B         C         D         E
2018-01-01  0.458124  0.361048  0.386060  0.822860       NaN
2018-01-02  1.278400  1.126669  1.013607  0.248934  0.861098
2018-01-03       NaN  0.700388       NaN  0.489520       NaN
2018-01-04       NaN  1.510817  1.129974  0.774839       NaN
2018-01-05       NaN       NaN       NaN  0.929202  1.102482
...              ...       ...       ...       ...       ...
2019-08-19  1.685950       NaN       NaN  0.601667       NaN
2019-08-20       NaN       NaN       NaN  0.988451       NaN
2019-08-21  0.952091       NaN       NaN  0.861342  0.619983
2019-08-22  1.056717  0.515100       NaN  0.021585       NaN
2019-08-23       NaN       NaN  1.613323       NaN       NaN

[600 rows x 5 columns]