<a href="https://colab.research.google.com/github/julioreis-dev/tutorial_pandas/blob/main/uniqueValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df2 = pd.DataFrame(data={'A': 1.,
                         'B':pd.Timestamp('20130102'),
                         'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                         'D':np.array([3]*4, dtype='int32'),
                         'E':pd.Categorical(['test', 'train', 'test', 'train']),
                         'F':'Python',
                         'G':[2,2,4,4],
                         'H':[np.nan,2,4,np.nan]})

In [5]:
df2

     A          B    C  D      E       F  G    H
0  1.0 2013-01-02  1.0  3   test  Python  2  NaN
1  1.0 2013-01-02  1.0  3  train  Python  2  2.0
2  1.0 2013-01-02  1.0  3   test  Python  4  4.0
3  1.0 2013-01-02  1.0  3  train  Python  4  NaN

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[ns]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
 6   G       4 non-null      int64
 7   H       2 non-null      float64
dtypes: category(1), datetime64[ns](1), float32(1), float64(2), int32(1), int64(1), object(1)
memory usage: 324.0+ bytes

In [11]:
df2.nunique(axis=0, dropna=True)

A    1
B    1
C    1
D    1
E    2
F    1
G    2
H    2
dtype: int64

In [10]:
df2.nunique(axis=1, dropna=True)

0    6
1    6
2    6
3    6
dtype: int64